.table-responsive {
    overflow-x: unset;
}

.table td{
    white-space:unset !important
}

// #socialChecklist {
//     table {counter-reset: no -1;}
//     table tr{counter-increment: no;}
//     table tr td:first-child:before{ content: counter(no);}
// }
// #socialChecklist{
//     table
//     {
//         counter-reset: rowNumber;
//     }
    
//     table tr > td:first-child
//     {
//         counter-increment: rowNumber;
//     }
    
//     table tr td:first-child::before
//     {
//         content: counter(rowNumber);
//         min-width: 1em;
//         margin-right: 0.5em;
//     }
//     tr{
//         vertical-align: middle;
//     }
// }

#socialChecklist {
    table {
        counter-reset: rowNumber;
    }

    table tr > td:nth-child(2) {
        counter-increment: rowNumber;
    }

    table tr td:nth-child(2)::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }

    tr {
        vertical-align: middle;
    }
}

#generalChecklist{
    table {
        counter-reset: rowNumber;
    }

    table tr>td:first-child {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }

    tr {
        vertical-align: middle;
    }
}



ngb-rating{
    font-size: 20px !important;
    
    
}

.card.disabled {
    opacity: 0.5;
}
.custom-header::after {
    content: none;
}

.progress{
    width: 20%;
}

.table-bordered{
    margin-top: 10px;
}

.col-remarks, .col-marks{
    vertical-align: middle;
}


.page-content{
    margin-top: 0px !important;
}

.page-wrapper{
    background: white;
}
.high {
    color: red;
}

.medium {
    color: orange;
}

.low {
    color: green;
}
.icon-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.icon-container button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
