nav{
    padding-left: 2% !important;
    padding-right: 4% !important;
}
.icon{
    text-align: right;
}
.value{
    align-self: center;
}

.tab-card{
    padding: 0px !important;
}

.nav-link{
    color: black !important;

}

.nav-link.active{
    color: white !important;

}

.search-btn{
    margin-left: 5px;
}

.custom-height{
    height: 400px!important;
    position: relative;

}

.age-card,.gender-card{
    height: 100%;
}


nav{
    padding-left: 2% !important;
    padding-right: 4% !important;
}
.icon{
    text-align: right;
}
.value{
    align-self: center;
}

.tab-card{
    padding: 0px !important;
}

.nav-link{
    color: black !important;

}

.nav-link.active{
    color: white !important;

}



.search-btn{
    margin-left: 5px;
}

.custom-height{
    height: 400px!important;
    position: relative;

}

.age-card,.gender-card{
    height: 100%;
}


.nobleui-logo{
    font-size: 20px;
}

.status{
    text-align: center;
}

.level{
    display:inline-flex
}

.markPer{
    margin-right: 5px;
    text-align-last:center
}
.bg-extreme{
    background-color: #FF0000;
}
.bg-very-high{
    background-color: #FFA500;

}
.bg-high{
    background-color: #FFFF00;

}
.bg-medium{
    background-color: #00FF00;

}
.bg-low{
    background-color: #87CEFA;

} 
.col-md-2-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

/* Reset */


  
  /* Utility Class */


