nav{
    padding-left: 2% !important;
    padding-right: 4% !important;
}
.icon{
    text-align: right;
}
.value{
    align-self: center;
}

.tab-card{
    padding: 0px !important;
}

.nav-link{
    color: black !important;

}

.nav-link.active{
    color: white !important;

}



.search-btn{
    margin-left: 5px;
}

.custom-height{
    height: 450px!important;
    position: relative;

}

.age-card,.gender-card{
    height: 100%;
}


.nobleui-logo{
    font-size: 20px;
}

.status{
    text-align: center;
}

.level{
    display:inline-flex
}
.grvType{
    margin-right: 5px;
    text-align-last:center
}
 
