<div class="container-fluid">
    <div class="row" [formGroup]="Form">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between header">
                        <div class="col-lg-8 ps-0">
                            <a routerLink="." class="nobleui-logo d-block mt-3">Document<span>
                                    Management</span></a>
                            <p class="mt-1 mb-4"><b>View document</b></p>
                        </div>
                    </div>
                    <div class="container-fluid  d-flex justify-content-center w-100">
                        <div class="table-responsive w-100">
                            <div class="row">
                                <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex">
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">article</mat-icon>
                                            Current Document
                                        </ng-template>
                                        <div class="row ">
                                            <div class="col-md-6">

                                                <mat-form-field fxFlex appearance="outline" >
                                                    <mat-label>Document Type</mat-label>
                                                    <input type="text" matInput formControlName="document_type">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field fxFlex appearance="outline">
                                                    <mat-label>Division</mat-label>
                                                    <input type="text" matInput formControlName="division">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            
                                        </div>
                                        <div class="row "> 
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Issuing Authority</mat-label>
                                                    <input type="text" matInput formControlName="issuing_authority">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Document Number</mat-label>
                                                    <input type="text" matInput formControlName="document_number">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <mat-form-field fxFlex appearance="outline">
                                                    <mat-label>Title</mat-label>
                                                    <input type="text" matInput formControlName="title">
                                                    <!-- <mat-select formControlName="title">
                                            <mat-option *ngFor="let title of filterTitles"
                                                value="{{title.attributes.title}}">
                                                {{title.attributes.title}}</mat-option>

                                            <mat-option (click)="new_title()" class="option-btn"
                                                *ngIf="Form.value.document_type"> <i class=" mdi mdi-plus-circle"></i>
                                                Create a new title </mat-option>
                                        </mat-select> -->
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Document Owner</mat-label>
                                                    <input type="text" matInput formControlName="document_owner">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Document Reviewer</mat-label>
                                                    <input type="text" matInput formControlName="document_reviewer">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Physical Location</mat-label>
                                                    <input type="text" matInput formControlName="physical_location">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Version Number</mat-label>
                                                    <input type="text" matInput formControlName="version_number">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-4 mt-4">
                                            <quill-editor placeholder="Remarks" [modules]="quillConfig"
                                                formControlName="remarks">
                                            </quill-editor>
                                        </div>
                                        <div class="col-md-12">
                                            <ngx-dropzone  >
                                                <ngx-dropzone-label>
                                                    Drop your Documents here
                                                </ngx-dropzone-label>
                                                <div *ngFor="let file of DocumentFiles; let i = index;"
                                                    class="custom-dropzone">
                                                    <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview"
                                                        [removable]="false" [file]="file"  
                                                        [file]="file"
                                                        (click)="openDocument(i); $event.stopPropagation();">
                                                        <ngx-dropzone-label class="preview-text">
                                                            <div class="preview-text">
                                                                {{ file.name }}
                                                            </div>
                                                        </ngx-dropzone-label>
                                                    </ngx-dropzone-preview>
                                                </div>
                                            </ngx-dropzone>
                                        </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>

                                        </div>
                                    </mat-tab>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">layers</mat-icon>
                                            Document History
                                        </ng-template>
                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Document Number</th>
                                                        <th>Issued Date</th>
                                                        <th>Expiry Date</th>
                                                        <th>Notify Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of historyList">
                                                        <td>{{data.attributes.document_number}}</td>
                                                        <td>{{data.attributes.issued_date| date:'dd-MMM-yyyy'}}</td>
                                                        <td>{{data.attributes.expiry_date| date:'dd-MMM-yyyy'}}</td>
                                                        <td>{{data.attributes.notify_date| date:'dd-MMM-yyyy'}}</td>
                                                        <td>
                                                            <button type="button"
                                                                class="btn btn-secondary btn-icon btn-xs btn-previous"
                                                                (click)="view(data)" placement="top" ngbTooltip="View">
                                                                <i class="feather icon-eye"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> 
                                    </mat-tab>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">bolt</mat-icon>
                                            Activity Stream
                                        </ng-template>
                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Time</th>
                                                        <th>User</th>
                                                        <th>action</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of activityList">
                                                        <td>{{ data.attributes.date | date:'dd-MMM-yyyy | hh:mm:ss a' }}</td>
                                                        <td>{{data.attributes.user_email}}</td>
                                                        <td>{{data.attributes.action}}</td>
                                                        <!-- <td>
                                                            <button type="button"
                                                                class="btn btn-secondary btn-icon btn-xs btn-previous"
                                                                (click)="view(data)" placement="top" ngbTooltip="View">
                                                                <i class="feather icon-eye"></i>
                                                            </button>
                                                        </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="mb-3">
                                          
                                            <button type="button"
                                                class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                                (click)="previousStep()">
                                                <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                                Previous
                                            </button>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="mt-3">
                        <button [disabled]="Form.value.status==='Completed'" class="btn btn-primary"
                            aria-label="Example icon-button with a menu">
                            {{Form.value.status}}
                        </button>
                        <button class="btn btn-secondary back-button" aria-label="Example icon-button with a menu"
                            (click)="go_back()">
                            Go Back
                        </button>
                    </div>
                    <div class="mt-3">
                        <label class="tx-11 fw-bolder mb-0 text-uppercase">Reported By:</label>
                        <p class="text-muted">{{Form.value.reporter}}, {{Form.value.reporterDesignation}}</p>
                    </div>
                    <div class="mt-3" *ngIf="Form.value.updated_by && Form.value.updateDesignation">
                        <label class="tx-11 fw-bolder mb-0 text-uppercase">Updated By:</label>
                        <p class="text-muted">{{Form.value.updated_by}}, {{Form.value.updateDesignation}}</p>
                    </div>

                    <div class="mt-3">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Issued Date</mat-label>
                            <input matInput [matDatepicker]="dpIssuedDate" placeholder="Choose a date"
                                [formControl]="issued_date">
                            <mat-datepicker-toggle matSuffix [for]="dpIssuedDate"></mat-datepicker-toggle>
                            <mat-datepicker #dpIssuedDate></mat-datepicker>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                        <div class="form-check form-switch mb-3">
                            <input type="checkbox" class="form-check-input" id="formSwitch1"
                                formControlName="no_expiry" (change)="validate_expiry()">
                            <label class="form-check-label" for="formSwitch1">No Expiry</label>
                        </div>
                        <mat-form-field appearance="outline" color="primary" *ngIf="no_expiryValue==false">
                            <mat-label>Expiry Date</mat-label>
                            <input matInput [matDatepicker]="dpExpiryDate" placeholder="Choose a date"
                                [formControl]="expiry_date">
                            <mat-datepicker-toggle matSuffix [for]="dpExpiryDate"></mat-datepicker-toggle>
                            <mat-datepicker #dpExpiryDate></mat-datepicker>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary" *ngIf="no_expiryValue==false">
                            <mat-label>Notify Date</mat-label>
                            <input matInput [matDatepicker]="dpNotifyDate" placeholder="Choose a date"
                                [formControl]="notify_date">
                            <mat-datepicker-toggle matSuffix [for]="dpNotifyDate"></mat-datepicker-toggle>
                            <mat-datepicker #dpNotifyDate></mat-datepicker>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>