<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row ">
                <div class="col-md-12">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Audit Member</mat-label>
                        <mat-select formControlName="member">
                            <mat-option *ngFor="let people of peopleList" [value]="people">
                                <img style="vertical-align:middle; margin-right: 4px;"
                                    src={{people.attributes.image?.data.attributes.image}} height="30" />
                                <span>{{ people.attributes.first_name }}
                                    {{people.attributes.last_name}}</span>
                            </mat-option>
                        </mat-select>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                   
                </div>

            </div>

            <div class="mb-3 action">
                <button type="button" class="btn btn-success btn-icon-text float-middle mt-4 "
                    (click)="submit()" [disabled]="!Form.valid">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Submit
                </button>
                

            </div>
        </div>

    </div>
    </div>