.table-responsive {
    overflow: hidden;
}

.below {
    margin-bottom: 3px;
}

mat-hint {
    cursor: pointer;
}

.quill-editor-error {
    font-size: 12px;
    color: red;
    text-align: right;

}