<div class="container-fluid">
  <div class="row" [formGroup]="Form">
    <div class="col-lg-12">
      <!-- <div class="container-fluid d-flex justify-content-between header">
        <div class="col-lg-8 ps-0">
          <a routerLink="." class="nobleui-logo d-block mt-3"
            >Medicine<span> Inventory</span></a
          >
          <p class="mt-1 mb-1">Create Request</p>
        </div>
        <div class="col-lg-4 pe-0">
          <h6 class="fw-bold text-end mt-4 mb-2">Request Date</h6>
          <h6 class="text-end mb-5">
            {{ Form.value.reported_date | date : "MMM d, y" }}
          </h6>
        </div>
      </div> -->
      <div class="container-fluid">
        <div class="table-responsive">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Medicine Name</mat-label>
                <input type="text" matInput formControlName="name" />
                <mat-error>Required Field</mat-error>
              </mat-form-field>
            </div>
          </div>
       

          <div class="mb-1">
            <button
              type="button"
              class="btn btn-success btn-icon-text  mt-4"
              (click)="submit()"
              [disabled]="!Form.valid"
            >
              <i class="feather icon-send btn-icon-prepend"></i>
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
