<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <nav aria-label="breadcrumb ">
          <a routerLink="." class="nobleui-logo d-block mt-3">Accident <span>Management</span></a>
          <ol class="breadcrumb breadcrumb-dot">
            <li class="breadcrumb-item"><a routerLink="/apps/insight">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/apps/accident-incident/dashboard">Accident & Incident</a></li>
            <li class="breadcrumb-item"><a routerLink="/apps/accident-incident/accident-register">Accident</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-4 search">
          <div>
            <div class="input-group">
              <div class="input-group-text">
                <i class="feather icon-search"></i>
              </div>
              <input type="text" class="form-control" id="navbarForm" placeholder="Search here..."
                (keyup)="applyFilter($event)">
            </div>
          </div>
        </div>
        <div *ngIf="(corporateUser === true) || (divisions.length > 1)" class="col-2 search mt-3 ">
          <mat-form-field fxFlex appearance="outline" color="primary">
            <mat-label>Division</mat-label>
            <mat-select [formControl]="Division" multiple (selectionChange)="accidentDiv($event)">
              <mat-select-trigger>
                {{Division.value[0]?.division_name? Division.value[0]?.division_name : ''}}
                <span *ngIf="Division?.value?.length > 1" class="example-additional-selection">
                  (+{{Division.value.length - 1}}
                  {{Division.value?.length === 2 ?
                  'other' :
                  'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let division of divisions" [value]="division">{{division.division_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3 search">
          <div class="input-group  me-2 mb-2 mb-md-0">
            <mat-form-field appearance="outline" color="primary" id="dashboard">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date"
                  (dateChange)="startDateChange($event)">
                <input matEndDate formControlName="end" placeholder="End date" (dateChange)="endDateChange($event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="dateRange.controls.start.hasError('matStartDateInvalid')">Invalid
                start date</mat-error>
              <mat-error *ngIf="dateRange.controls.end.hasError('matEndDateInvalid')">Invalid end
                dateee
              </mat-error>
            </mat-form-field>

          </div>

        </div>
        <div class="col-md-2 search">
          <div class="row">

            <button type="button" class="btn btn-primary btn-icon me-2" (click)="search(initialPage)">
              <i class="feather icon-search btn-icon-prepend"></i>
            </button>
            <button type="button" class="btn btn-danger btn-icon me-2" (click)="reset()">
              <i class="feather icon-rotate-cw btn-icon-prepend"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-icon me-2" (click)="generateReport()"
              id="accident_report">
              <i class="feather icon-printer btn-icon-prepend"></i>
            </button>

            <button type="button" class="btn btn-secondary btn-icon hide" id="accident_report_loader">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body table-card">
        <div class="table-responsive">
          <ng-container *ngIf="isLoading">
            <app-loading-screen [rows]="9"></app-loading-screen>
          </ng-container>
          <ng-container *ngIf="!isLoading">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="reference_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                <td mat-cell *matCellDef="let element"> {{element.reference_number}} </td>
              </ng-container>
              <ng-container matColumnDef="accident_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Accident Date </th>
                <td mat-cell *matCellDef="let element"> {{element.accident_date | date:'dd-MMM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="accident_time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Accident Time </th>
                <td mat-cell *matCellDef="let element"> {{element.accident_time | date:'shortTime'}} </td>
              </ng-container>
              <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Severity
                </th>
                <td mat-cell *matCellDef="let element"> <button type="button"
                    class="btn {{severityBtn(element.severity)}} btn-xs status-btn">{{element.severity}}</button> </td>
              </ng-container>
              <ng-container matColumnDef="injury">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Injury </th>
                <td mat-cell *matCellDef="let element"> {{element.injury}} </td>
              </ng-container>
              <ng-container matColumnDef="time_of_work">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time of Work </th>
                <td mat-cell *matCellDef="let element"> {{element.time_of_work}} </td>
              </ng-container>
              <ng-container matColumnDef="return_for_work">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Return for Work </th>
                <td mat-cell *matCellDef="let element"> {{element.return_for_work}} </td>
              </ng-container>
              <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Division
                </th>
                <td mat-cell *matCellDef="let element"> {{element.division}} </td>
              </ng-container>
              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Department
                </th>
                <td mat-cell *matCellDef="let element"> {{element.department}} </td>
              </ng-container>
              <ng-container matColumnDef="accident_category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category
                </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Due Date"> Status
                </th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" class="btn {{statusButton(element.status)}} status-btn btn-icon-text btn-xs">
                    {{element.status}}
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="assignee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignee
                </th>
                <td mat-cell *matCellDef="let element">

                  {{element?.assignee?.data?.attributes.first_name}} {{element?.assignee?.data?.attributes.last_name}}
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>Actions</th>
                <td *matCellDef="let row" class="actions-cell" mat-cell>
                  <button type="button" class="btn btn-primary btn-icon btn-xs" id="{{row.reference_number}}"
                    (click)="print(row.reference_number)" placement="top" ngbTooltip="Print">
                    <i class="feather icon-printer"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-icon btn-xs hide" id="{{row.reference_number}}_1">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-icon btn-xs" (click)="view(row)" placement="top"
                    ngbTooltip="View">
                    <i class="feather icon-eye"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-icon btn-xs" (click)="modify(row)" placement="top"
                    ngbTooltip="Modify" *ngIf="row.status==='Draft'">
                    <i class="feather icon-edit"></i>
                  </button>

                  <button type="button" class="btn btn-light btn-icon btn-xs" (click)="updateDate(row)" placement="top"
                    ngbTooltip="Update Return Date"
                    *ngIf="row.injury==='Reportable Accident' && row.status==='Completed' || row.injury==='Non-Reportable Accident' && row.time_of_work==='≤ 2 Days' && row.status==='Completed'">
                    <i class="feather icon-edit"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: visibleColumns;"></tr>
            </table>
          </ng-container>
          <mat-paginator [pageSize]="pageSize" showFirstLastButtons [showFirstLastButtons]="true" [length]="totalItems"
            (page)="
          (filterForm.value.startDate && filterForm.value.endDate && !filterForm.value.division)
            ? (unitSpecific 
                ? (corporateUser 
                    ? get_periodic_accident_register($event) 
                    : get_unit_specific_periodic_accident_history($event)
                  )
                : get_periodic_accident_register($event)
              )
            : (!filterForm.value.startDate && !filterForm.value.endDate && !filterForm.value.division)
              ? (unitSpecific 
                  ? (corporateUser 
                      ? get_accident_history($event) 
                      : get_unit_specific_accident_history($event)
                    ) 
                  : get_accident_history($event)
                )
              : (!filterForm.value.startDate && !filterForm.value.endDate && filterForm.value.division)
                ? (unitSpecific 
                    ? (corporateUser 
                        ? get_division_accident_register($event) 
                        : get_division_accident_register($event)
                      ) 
                    : get_division_accident_register($event)
                  )
                : (filterForm.value.startDate && filterForm.value.endDate && filterForm.value.division)
                  ? (unitSpecific 
                      ? (corporateUser 
                          ? get_periodic_division_accident_register($event) 
                          : get_periodic_division_accident_register($event)
                        ) 
                      : get_periodic_division_accident_register($event)
                    )
                  : get_accident_register($event)" aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>