.table-responsive {
    overflow: hidden;
}

.mat-button-toggle-checked {
    background-color: #6571ff;
    color: white !important;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.profImg{
    text-align: center;
  }
 
.formheigh{
    height: 100% !important;

}
.marg{
    margin-top: 5% !important;
}
