<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100" *ngIf="Form.value.consumption_category===''">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Consumption Category</mat-label>
                        <input type="consumption_category" matInput formControlName="consumption_category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput formControlName="unit">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="description">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <a href="" (click)="false" class="col-md-2 ps-1 pe-1" *ngFor="let image of evidences; let i=index">
                    <!-- <figure class="mb-2">
                        <img class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">
                    </figure> -->
                    <figure class="mb-2">
                        <img *ngIf="image.format === 'png' || image.format === 'jpeg' || image.format === 'jpg'"
                            class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">

                        <div *ngIf="image.format === 'pdf'" class="pdf-container" (click)="openPdf(image.src)">
                            <span class="pdf-text">{{ image.evidence_name }}</span>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    Close
                </button>
            </div>
        </div>

        <!-- Air Emission -->
        <div class="table-responsive w-100" *ngIf="Form.value.consumption_category==='Air Emission'">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Consumption Category</mat-label>
                        <input type="text" matInput formControlName="consumption_category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Source Capacity </mat-label>
                        <input type="text" matInput formControlName="source_capacity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Pollutants Emitted</mat-label>
                        <input type="text" matInput formControlName="pollutants_emitted">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Concentration</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput formControlName="unit">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>


            </div>


            <div class="row">
                <!-- <div class="col-md-4" *ngIf="Form.value.consumption_category==='Air Emission'">
                    <mat-form-field appearance="outline">
                        <mat-label>Concentration / Year </mat-label>
                        <input type="text" matInput formControlName="concentration">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source Type</mat-label>
                        <input type="text" matInput formControlName="source_type">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Determined By</mat-label>
                        <input type="text" matInput formControlName="determined_by">
                    </mat-form-field>
                </div>
                <div class="col-md-4 pt-3">
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="formSwitch1"
                            formControlName="control_device">
                        <label class="form-check-label" for="formSwitch1">Control Device in Place?</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Legal Emission Limit</mat-label>
                        <input type="number" matInput formControlName="legal_emission_limit">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Monitoring Frequency</mat-label>
                        <input type="text" matInput formControlName="monitoring_frequency">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Latest Test</mat-label>
                        <input matInput [matDatepicker]="collFromDP" placeholder="Choose a date"
                            [formControl]="latesttest">
                        <mat-datepicker-toggle matSuffix [for]="collFromDP"></mat-datepicker-toggle>
                        <mat-datepicker #collFromDP></mat-datepicker>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Volumetric flow rate (Nm³/hr)</mat-label>
                        <input type="number" matInput formControlName="volumetric_flow_rate">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Operation Time (hr)</mat-label>
                        <input type="number" matInput formControlName="operation_time">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Compliance status</mat-label>
                        <input type="text" matInput formControlName="compliance_status">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Testing Organization</mat-label>
                        <input type="text" matInput formControlName="testing_organization">
                        <mat-error>Required Field</mat-error>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="description">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <a href="" (click)="false" class="col-md-2 ps-1 pe-1" *ngFor="let image of evidences; let i=index">
                    <!-- <figure class="mb-2">
                        <img class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">
                    </figure> -->
                    <figure class="mb-2">
                        <img *ngIf="image.format === 'png' || image.format === 'jpeg' || image.format === 'jpg'"
                            class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">

                        <div *ngIf="image.format === 'pdf'" class="pdf-container" (click)="openPdf(image.src)">
                            <span class="pdf-text">{{ image.evidence_name }}</span>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    Close
                </button>
            </div>
        </div>

        <!-- Water -->
        <div class="table-responsive w-100" *ngIf="Form.value.consumption_category==='Water'">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Consumption Category</mat-label>
                        <input type="text" matInput formControlName="consumption_category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="amount">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput formControlName="unit">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Meter Reading</mat-label>
                        <input type="number" matInput formControlName="meter_reading">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Method of Tracking</mat-label>
                        <input type="text" matInput formControlName="quantity_source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Water Type</mat-label>
                        <input type="text" matInput formControlName="water_type">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Applicability</mat-label>
                        <input type="text" matInput formControlName="applicability">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div clas="row">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Usage Type</mat-label>
                        <input type="text" matInput formControlName="usage_type">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2" *ngIf="this.defaults?.attributes?.env_sub_meter_details?.data?.length !== 0">
                <div class="pollutants-table-responsive pt-3" id="consumption">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Meter Name</th>
                                <th>Location</th>
                                <th>Meter Quantity Unit</th>
                                <th>Initial Meter Reading</th>
                                <th>Final Meter Reading</th>
                                <th>Quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of this.defaults?.attributes?.env_sub_meter_details?.data; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{ data.attributes.meter_name }}</td>
                                <td>{{ data.attributes.location }}</td>
                                <td>{{ data.attributes.meter_quantity_unit }}</td>
                                <td>{{ data.attributes.initial_meter_reading }}</td>
                                <td>{{ data.attributes.final_meter_reading }}</td>
                                <td>{{ data.attributes.quantity }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="description">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <a href="" (click)="false" class="col-md-2 ps-1 pe-1" *ngFor="let image of evidences; let i=index">
                    <!-- <figure class="mb-2">
                        <img class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">
                    </figure> -->
                    <figure class="mb-2">
                        <img *ngIf="image.format === 'png' || image.format === 'jpeg' || image.format === 'jpg'"
                            class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">

                        <div *ngIf="image.format === 'pdf'" class="pdf-container" (click)="openPdf(image.src)">
                            <span class="pdf-text">{{ image.evidence_name }}</span>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    Close
                </button>
            </div>
        </div>

        <!-- Waste -->
        <div class="table-responsive w-100" *ngIf="Form.value.consumption_category==='Waste'">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Consumption Category</mat-label>
                        <input type="text" matInput formControlName="consumption_category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Waste Type</mat-label>
                        <input type="text" matInput formControlName="waste_type">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="amount">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput formControlName="unit">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Category</mat-label>
                        <input type="text" matInput formControlName="category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Collected From</mat-label>
                        <input matInput [matDatepicker]="collFromDP" placeholder="Choose a date"
                            [formControl]="collectedFrom">
                        <mat-datepicker-toggle matSuffix [for]="collFromDP"></mat-datepicker-toggle>
                        <mat-datepicker #collFromDP></mat-datepicker>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Collected to</mat-label>
                        <input matInput [matDatepicker]="colledtToDP" placeholder="Choose a date"
                            [formControl]="collectedTo">
                        <mat-datepicker-toggle matSuffix [for]="colledtToDP"></mat-datepicker-toggle>
                        <mat-datepicker #colledtToDP></mat-datepicker>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Disposal Method</mat-label>
                        <input type="text" matInput formControlName="disposal_method">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Consignment Number</mat-label>
                        <input type="text" matInput formControlName="consignment_number">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Disposal Date</mat-label>
                        <input matInput [matDatepicker]="diposalDP" placeholder="Choose a date"
                            [formControl]="disposalDate">
                        <mat-datepicker-toggle matSuffix [for]="diposalDP"></mat-datepicker-toggle>
                        <mat-datepicker #diposalDP></mat-datepicker>
                        <!-- <mat-error>Required Field</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Disposer</mat-label>
                        <input type="text" matInput formControlName="disposer">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Carrier</mat-label>
                        <input type="text" matInput formControlName="carrier">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Place of Disposal</mat-label>
                        <input type="text" matInput formControlName="disposal_place">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4"
                    *ngIf="Form.value.consumption_category==='Waste'&&Form.value.source==='Wastewater Sludge'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Method of Tracking</mat-label>
                        <input type="text" matInput formControlName="quantity_source">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="description">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <a href="" (click)="false" class="col-md-2 ps-1 pe-1" *ngFor="let image of evidences; let i=index">
                    <!-- <figure class="mb-2">
                        <img class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">
                    </figure> -->
                    <figure class="mb-2">
                        <img *ngIf="image.format === 'png' || image.format === 'jpeg' || image.format === 'jpg'"
                            class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">

                        <div *ngIf="image.format === 'pdf'" class="pdf-container" (click)="openPdf(image.src)">
                            <span class="pdf-text">{{ image.evidence_name }}</span>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    Close
                </button>
            </div>
        </div>

        <!--Wastewater -->
        <div class="table-responsive w-100" *ngIf="Form.value.consumption_category==='Wastewater'">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Consumption Category</mat-label>
                        <input type="text" matInput formControlName="consumption_category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="amount">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput formControlName="unit">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Treatment Where</mat-label>
                        <input type="text" matInput formControlName="treatment">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Method of Tracking</mat-label>
                        <input type="text" matInput formControlName="quantity_source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source==='Industrial' || Form.value.source==='Domestic'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Applicability</mat-label>
                        <input type="text" matInput formControlName="applicability">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source==='Industrial' || Form.value.source==='Domestic'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Treatment Outcome</mat-label>
                        <input type="text" matInput formControlName="treatment_outcome">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="Form.value.source==='Industrial' || Form.value.source==='Domestic'">

                <div class="col-md-4" *ngIf="Form.value.reused_recycled_quantity">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Treatment Outcome Quantity</mat-label>
                        <input type="number" matInput formControlName="reused_recycled_quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.treatment_outcome_recycled">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Treatment Outcome - Recycled</mat-label>
                        <input type="number" matInput formControlName="treatment_outcome_recycled">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.treatment_outcome_reused">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Treatment Outcome - Reused</mat-label>
                        <input type="number" matInput formControlName="treatment_outcome_reused">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="description">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <a href="" (click)="false" class="col-md-2 ps-1 pe-1" *ngFor="let image of evidences; let i=index">
                    <!-- <figure class="mb-2">
                        <img class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">
                    </figure> -->
                    <figure class="mb-2">
                        <img *ngIf="image.format === 'png' || image.format === 'jpeg' || image.format === 'jpg'"
                            class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">

                        <div *ngIf="image.format === 'pdf'" class="pdf-container" (click)="openPdf(image.src)">
                            <span class="pdf-text">{{ image.evidence_name }}</span>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    Close
                </button>
            </div>
        </div>

        <!-- Energy -->
        <div class="table-responsive w-100" *ngIf="Form.value.consumption_category==='Energy'">
            <div class="row ">
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Consumption Category</mat-label>
                        <input type="text" matInput formControlName="consumption_category">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source==='Refrigerants'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Refrigerant Type</mat-label>
                        <input type="text" matInput formControlName="refrigerant_type">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source!=='Refrigerants'">
                    <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4" *ngIf="Form.value.source==='Refrigerants'">
                    <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.consumption_category!=='Air Emission'">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="amount">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Unit</mat-label>
                        <input type="text" matInput formControlName="unit">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source!=='Refrigerants'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Scope</mat-label>
                        <input type="text" matInput formControlName="scope">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngIf="Form.value.source==='Refrigerants'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Scope</mat-label>
                        <input type="text" matInput formControlName="scope">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.scope ==='Scope-1'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Scope 1 Category</mat-label>
                        <input type="text" matInput formControlName="scope_1_cateogry">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source==='Electricity' ">
                    <mat-form-field appearance="outline">
                        <mat-label>Meter Reading</mat-label>
                        <input type="number" matInput formControlName="meter_reading">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>




                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Method of Tracking</mat-label>
                        <input type="text" matInput formControlName="quantity_source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Usage Type</mat-label>
                        <input type="text" matInput formControlName="usage_type">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4 special-field" *ngIf="Form.value.source==='Purchased Electricity'">
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="formSwitch1" formControlName="rec_status">
                        <label class="form-check-label" for="formSwitch1">Do you have REC?</label>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="Form.value.rec_status === true">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>REC Type</mat-label>
                        <input type="text" matInput formControlName="rec_type">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="renewable===true" class="col-md-4">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Renewable Energy Source</mat-label>
                        <input type="text" matInput formControlName="renewable_energy_source">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngIf="Form.value.rec_type === 'I-REC'">
                    <mat-form-field appearance="outline">
                        <mat-label>I-REC Quantity</mat-label>
                        <input type="number" matInput formControlName="i_rec_quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="Form.value.source==='Industrial' || Form.value.source==='Domestic'">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Applicability</mat-label>
                        <input type="text" matInput formControlName="applicability">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2" *ngIf="this.defaults?.attributes?.env_sub_meter_details?.data?.length !== 0">
                <div class="pollutants-table-responsive pt-3" id="consumption">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Meter Name</th>
                                <th>Location</th>
                                <th>Meter Quantity Unit</th>
                                <th>Initial Meter Reading</th>
                                <th>Final Meter Reading</th>
                                <th>Quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of this.defaults?.attributes?.env_sub_meter_details?.data; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{ data.attributes.meter_name }}</td>
                                <td>{{ data.attributes.location }}</td>
                                <td>{{ data.attributes.meter_quantity_unit }}</td>
                                <td>{{ data.attributes.initial_meter_reading }}</td>
                                <td>{{ data.attributes.final_meter_reading }}</td>
                                <td>{{ data.attributes.quantity }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="description">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <a href="" (click)="false" class="col-md-2 ps-1 pe-1" *ngFor="let image of evidences; let i=index">
                    <!-- <figure class="mb-2">
                        <img class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">
                    </figure> -->
                    <figure class="mb-2">
                        <img *ngIf="image.format === 'png' || image.format === 'jpeg' || image.format === 'jpg'"
                            class="img-fluid rounded" [src]="image.src" (click)="open(i)" width="150" alt="">

                        <div *ngIf="image.format === 'pdf'" class="pdf-container" (click)="openPdf(image.src)">
                            <span class="pdf-text">{{ image.evidence_name }}</span>
                        </div>
                    </figure>
                </a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    Close
                </button>
            </div>
        </div>

    </div>
</div>