.table-responsive {
    overflow-x: unset;
}

.com-btn{
    margin-right: 3px;
} 
.preview-text {
    font-size: small;
    text-align: center;
  }
  .custom-dropzone-container {
    display: flex;
    flex-wrap: wrap;
}

.custom-dropzone {
    width: calc(33.33% - 20px); /* Adjust width as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
}

.custom-dropzone:last-child {
    margin-right: 0;
}