<div mat-dialog-content >
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div [formGroup]="Form" class="table-responsive w-100">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput formControlName="name">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Employee ID</mat-label>
                        <input type="text" matInput formControlName="employee_id">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email ID</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input type="number" matInput formControlName="contact_no">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-end">
                    <button type="button" class="btn btn-success btn-icon-text float-end mt-4" [disabled]="!Form.valid"
                        (click)="submit()">
                        <i class="feather icon-send btn-icon-prepend"></i>
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>