<!-- app-loading-screen.component.html -->

<div class="loading-screen-row">
    <div class="loading-screen-cell" *ngFor="let i of loadingRows">
        <div class="row">
                <div class="col-md-1 loading-content">

                </div>
                <div class="col-md-1 loading-content">

                </div>
                <div class="col-md-2 loading-content">

                </div>
                <div class="col-md-3 loading-content">

                </div>
                <div class="col-md-1 loading-content">

                </div>
                <div class="col-md-1 loading-content">

                </div>
                <div class="col-md-2 loading-content">

                </div>
        </div>

       
            <!-- <div class="loading-content">
            
            </div> -->
            
         
    </div>
  </div>
  