.table-responsive {
    overflow: hidden;
}

.mat-ink-bar {
    height: 5px !important;
}

mat-tab {
    overflow: hidden;
}

.mat-button-toggle-checked {
    background-color: #6571ff;
    color: white !important;
}

.image{
    padding-left: 10px ;
}

.status-btn{
    margin-left: 5px;
}
.selected-observation {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  