:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(60deg,#10b3d6 0%,#1d2746 100%);

  }


  

  #bottom {
    position:absolute;                
    bottom:0;                        
    left:0; 
                           
}

#bottom-right{
    position:absolute;                
    bottom:0;                        
    right:0; 
}

#bottom-man{
    position:absolute;                
    bottom:0;                        
    left:200px;
}

#bottom-flower{
    position:absolute;                
    bottom:0;                        
    left:450px;
}

#bottom-girl{
    position:absolute;                
    bottom:0;                        
    right:550px;
}

#bottom-man-two{
    position:absolute;                
    bottom:0;                        
    right:250px;
}