<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto" >
        <div class="card" *ngIf="status">
            <div class="row">
                <div class="col-md-4 pe-md-0">
                    <div class="auth-side-wrapper"
                        [ngStyle]="{ 'background-image': 'url(assets/images/reset-password.jpg)' }">

                    </div>
                </div>
                <div class="col-md-8 ps-md-0">
                    <div class="auth-form-wrapper px-4 py-5" [formGroup]="resetForm">
                        <a routerLink="." class="nobleui-logo d-block mb-2"> <img
                                src="assets/images/sattva-logo-dark.png" width="150"></a>
                        <h5 class="text-muted fw-normal mb-4 mt-4">Please provide the new password.</h5>
                     
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="signInPassword"
                                    formControlName="password">
                                <div class="error" *ngIf="f['password'].touched && f['password'].errors">
                                    <div *ngIf="f['password'].errors?.['required']"> Required Field</div>
                                    <div *ngIf="f['password'].errors?.['pattern']"> Please follow format "User@123"</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">ConfirmPassword</label>
                                <input type="password" class="form-control" id="signInPasswordConfirm"
                                    formControlName="confirmPassword">
                                    <div class="error" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors">
                                        <div *ngIf="f['confirmPassword'].errors?.['required']"> Required Field</div>
                                        <div *ngIf="f['confirmPassword'].errors?.['pattern']"> Password should contain one
                                            uppercase, lowercase special cheractor @</div>

                                            <div *ngIf="f['confirmPassword'].errors"> Password not matching</div>
                                    </div>
                            </div>
                            <div class="form-check mb-3 mt-4">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="showPass()">
                                <label class="form-check-label" for="exampleCheck1">
                                    Show Password
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="resetPassword()">Reset Password</button>
                               
                            </div>
                     
                    </div>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="!status">
            <div class="row">
                <div class="col-md-4 pe-md-0">
                    <div class="auth-side-wrapper"
                        [ngStyle]="{ 'background-image': 'url(assets/images/reset-password.jpg)' }">

                    </div>
                </div>
                <div class="col-md-8 ps-md-0">
                    <div class="auth-form-wrapper px-4 py-5" [formGroup]="resetForm">
                        <a routerLink="." class="nobleui-logo d-block mb-2"> <img
                                src="assets/images/sattva-logo-dark.png" width="150"></a>
                        <h5 class="text-muted fw-normal mb-4 mt-4">Sorry, the reset link you are trying to access has expired. Please submit a new password reset request.</h5>
                     
                        <div>
                            <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="home()">Back to Home</button>
                           
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img id="bottom" src="assets/images/b_leaf_l.svg" width="150">
            <img id="bottom-man" src="assets/images/b_man.png">

            <img id="bottom-flower" src="assets/images/flower.png">
            <img id="bottom-girl" src="assets/images/girl_img.png">
            <img id="bottom-man-two" src="assets/images/b_man_two.png">



            <img id="bottom-right" src="assets/images/b_leaf_r.svg" width="150">
        </div>

        <div>

        </div>
    </div>

</div>