<div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid d-flex justify-content-between header">
          <div class="col-lg-5 ps-0">
            <a routerLink="." class="nobleui-logo d-block mt-3">Materiality<span>
                Survey</span></a>
            <p class="mt-1 mb-1"><b>Materiality Assessment</b></p>
          </div>
          <div class="col-lg-5 ps-0 logo mt-4">
            <img src="assets/images/sattva-logo-dark.png">
          </div>
          <div class="col-lg-2 pe-0">
            <!-- <h6 class="fw-bold text-end mt-4 mb-2">Created Date</h6>
            <h6 class="text-end mb-3 pb-2">date:'MMM d, y'</h6> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-light">
        <div class="card p-5 shadow-lg">
          <div class="text-center">
            <h1 class="mb-3">🎉 Survey Completed!</h1>
            <p class="lead">Thank you for your valuable time and participation.</p>
          </div>
        </div>
      </div>
      
</div>