<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Year</mat-label>
                        <input matInput [matDatepicker]="yearPicker" formControlName="yearData" [readonly]="true"
                            [disabled]="true">
                        <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>
                        <mat-datepicker #yearPicker startView="multi-year" panelClass="year-picker">
                        </mat-datepicker>
                        <mat-error *ngIf="Form.controls['yearData'].hasError('matDatepickerMin')">
                            Invalid year
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Month</mat-label>
                        <input type="text" matInput formControlName="monthData" readonly>

                        <!-- <mat-select formControlName="monthData">
                            <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>

                        </mat-select> -->
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <h6 class="mb-3">Team Member</h6>
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-icon-text btn-xs mb-2" (click)="addTeamMember()">
                        <i class="feather icon-plus btn-icon-prepend"></i>
                        Add Team Member
                    </button>
                </div>
            </div> -->
            <div class="row team-member-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>Disclosures</th>
                            <!-- <th>Themes</th>
                            <th>Role</th> -->
                            <!-- <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of teamMemberData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.fullname}}</td>
                            <td>{{data.disClosure}}</td>
                            <!-- <td>{{data.themeS}}</td>
                            <td>{{data.memberRole}}</td> -->
                            <!-- <td> -->
                            <!--  <button type="button"
                                    class="btn btn-primary btn-icon-text btn-xs action-btn float-start"
                                    (click)="editMemberData(data, i)"
                                    ngbTooltip="Modify">
                                    <i class="feather icon-edit"></i>
                                </button>
                                <button type="button" 
                                class="btn btn-secondary btn-icon btn-xs" 
                                (click)="viewMemberData(data, i)"
                               ngbTooltip="View">
                                <i class="feather icon-eye"></i>
                            </button>-->
                            <!-- <button type="button" class="btn btn-danger btn-icon-text btn-xs"
                                    (click)="deleteMemberData(data)">
                                    <i class="feather icon-trash-2"></i>
                                </button> -->
                            <!-- </td> -->

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()">
                    <i class="feather icon-x btn-icon-prepend"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>