.table-responsive {
    overflow: visible;
}

.btn-icon-text {
    margin-right: 3px;
}


.question-container {
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.question-container p {
    margin-right: 3px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
}

.table-responsive {
    overflow: hidden;
}

.padd {
    padding-bottom: 2%;
}

.hide {
    display: none;
}