.question-card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.table-responsive {
    overflow: unset;
}
.response-section {
    margin-top: 15px;
}

// mat-card-title {
//     font-size: 18px;
//     font-weight: bold;
// }

.mat-button-toggle-group {
    margin-top: 10px;
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
}
.logo {
    img {
        width: 200px;
    }
}
