.table-responsive {
    overflow: hidden;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
 
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
 
    color: white;
    background-color: red;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.mat-button-toggle-checked {
    background-color: #6571ff;
    color: white !important;
}

table {
    thead {
        tr {
            th {
                padding-left: 20px;
            }
        }

    }

    tbody {
        tr {
            td {
                padding-left: 20px;

            }
        }
    }
}

.btn-previous {
    margin-right: 2px;
}

.action-btn {
    margin-right: 5px;
}


mat-chip {
    background-color: #05A34A !important;
    color: white !important;
}
 
.cl-btn{
    margin-left: 5px;
}