<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row mt-3">
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Certificate / Test Name</mat-label>
                        <input type="text" matInput formControlName="certificate_name">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline" color="warning">
                        <mat-label>Test Date</mat-label>
                        <input matInput [matDatepicker]="testdate" [formControl]="testDate" value="date"
                            (dateChange)="testDateVal($event)">
                        <mat-datepicker-toggle matSuffix [for]="testdate"></mat-datepicker-toggle>
                        <mat-datepicker #testdate></mat-datepicker>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Testing Lab</mat-label>
                        <mat-select formControlName="test_lab">
                            <mat-option *ngFor="let name of LabList" value="{{name.attributes.name}}">
                                {{name.attributes.name}}</mat-option>
                            <mat-option (click)="new_test_lab()" class="option-btn"> <i
                                    class=" mdi mdi-plus-circle"></i> Create a new lab </mat-option>
                        </mat-select>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline" color="warning">
                        <mat-label>Issued Date</mat-label>
                        <input matInput [matDatepicker]="issueddate" [formControl]="issuedDate" value="date"
                            (dateChange)="issuedDateVal($event)">
                        <mat-datepicker-toggle matSuffix [for]="issueddate"></mat-datepicker-toggle>
                        <mat-datepicker #issueddate></mat-datepicker>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline" color="warning">
                        <mat-label>Expiry Date</mat-label>
                        <input matInput [matDatepicker]="expirydate" [formControl]="expiryDate" value="date"
                            (dateChange)="expiryDateVal($event)">
                        <mat-datepicker-toggle matSuffix [for]="expirydate"></mat-datepicker-toggle>
                        <mat-datepicker #expirydate></mat-datepicker>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Positive Lists</mat-label>
                        <mat-select formControlName="positive_list">
                            <mat-option *ngFor="let name of PositiveList" value="{{name.attributes.name}}">
                                {{name.attributes.name}}</mat-option>
                            <mat-option (click)="new_positive_test()" class="option-btn"> <i
                                    class=" mdi mdi-plus-circle"></i> Create new </mat-option>
                        </mat-select>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-4 mt-4">
                <quill-editor placeholder="Description" [modules]="quillConfig" formControlName="remarks">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <div class="custom-dropzone" ngx-dropzone [accept]="'application/pdf'" (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop the certificate. Please ensure the
                        document
                        size is less than 5 MB</ngx-dropzone-label>
                    <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" *ngFor="let f of files"
                        [file]="f" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </div>
                <button type="button" class="btn btn-icon-text btn-outline-twitter"
                    (click)="view_certificate_document()" *ngIf="Form.value.cer_document_status">
                    <i class="feather icon-file-text btn-icon-prepend"></i>
                    View Certificate
                </button>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-secondary btn-icon-text float-end mt-4 cl-btn" (click)="close()">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Close
                </button>
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="submit()"
                    [disabled]="!Form.valid">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>