
<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row ">
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Medicine Name</mat-label>
                        <input type="text" matInput formControlName="medicine_name">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Dosage</mat-label>
                        <input type="text" matInput formControlName="dosage">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Days</mat-label>
                        <input type="number" matInput formControlName="days">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <quill-editor placeholder="Usage" [modules]="quillConfig" formControlName="usage">
                </quill-editor>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Issuing Quantity</mat-label>
                        <input type="number" matInput formControlName="issuing_quantity">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4"  (click)="close()">
                    Close
                </button>
            </div>
            
        </div>
    </div>
</div>