<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">

            <div class="row ">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" color="primary" id="dashboard">
                        <mat-label>Reporting Period</mat-label>
                        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date"
                                (dateChange)="startDateChange($event)">
                            <input matEndDate formControlName="end" placeholder="End date"
                                (dateChange)="endDateChange($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <mat-error *ngIf="dateRange.controls.start.hasError('matStartDateInvalid')">Invalid
                            start date</mat-error>
                        <mat-error *ngIf="dateRange.controls.end.hasError('matEndDateInvalid')">Invalid end
                            date
                        </mat-error>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline" color="primary">
                        <mat-label>Division</mat-label>
                        <mat-select [formControl]="divisionTypes" multiple (selectionChange)="divisionVal($event)">
                            <mat-select-trigger>
                                {{divisionTypes.value ? divisionTypes.value[0] : ''}}
                                <span *ngIf="divisionTypes.value?.length > 1" class="example-additional-selection">
                                    (+{{divisionTypes.value.length - 1}}
                                    {{divisionTypes.value?.length === 2 ?
                                    'other' :
                                    'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let data of divisions"
                                [value]="data.division_name">{{data.division_name}}</mat-option>
                        </mat-select>
                        <!-- <mat-error>Required Field</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Reporting Person</mat-label>
                        <input type="text" matInput formControlName="reporting_person">
                        <!-- <mat-error>Required Field</mat-error> -->
                    </mat-form-field>
                </div>

            </div>

            <div class="row ">

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Reporting Email</mat-label>
                        <input type="email" matInput formControlName="reporting_email">
                        <!-- <mat-error>Required Field</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Format</mat-label>
                        <mat-select formControlName="format">
                            <mat-option value="PDF">PDF</mat-option>
                            <mat-option value="Excel">Excel</mat-option>
                        </mat-select>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" [disabled]="!Form.valid"
                    (click)="submit()">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Submit
                </button>

                <button type="button" class="btn btn-secondary btn-icon-text float-end mt-4" [mat-dialog-close]="true">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
