<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-7">
        <nav aria-label="breadcrumb ">
          <a routerLink="." class="nobleui-logo d-block mt-3">Internal <span>Audit</span></a>
          <ol class="breadcrumb breadcrumb-dot">
            <li class="breadcrumb-item"><a routerLink="/apps/insight">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/apps/audit-inspection/dashboard">Audit & Inspection</a></li>
            <li class="breadcrumb-item"><a routerLink="/apps/audit-inspection/register">Internal Audit</a></li>

            <li class="breadcrumb-item active" aria-current="page">Register</li>
          </ol>
        </nav>

      </div>
      <div class="col-md-2 search">
        <div>
          <div class="input-group">
            <div class="input-group-text">
              <i class="feather icon-search"></i>
            </div>
            <input type="text" class="form-control" [(ngModel)]="serachReference" id="navbarForm"
              placeholder="Please provide the reference number">
          </div>
        </div>
      </div>

      <div class="col-md-3 search">


        <button type="button" class="btn btn-primary btn-icon-text" (click)="generate()" id="env_report">
          <i class="btn-icon-prepend" data-feather="search"></i>
          Search
        </button>

        <button type="button" class="btn btn-secondary btn-icon-text btn-reset" id="env_report_loader"
          (click)="reset()">
          <i class="btn-icon-prepend" data-feather="rotate-cw"></i>

          Reset
        </button>

        <button type="button" class="btn btn-secondary btn-icon btn-reset" (click)="generateReport()"
          id="accident_report">
          <i class="feather icon-printer btn-icon-prepend"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-icon hide btn-reset" id="accident_report_loader">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

        </button>







      </div>
    </div>


  </div>
</div>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body table-card">
        <div class="table-responsive">
          <ng-container *ngIf="isLoading">
            <app-loading-screen [rows]="9"></app-loading-screen>
          </ng-container>
          <ng-container *ngIf="!isLoading">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="reference_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                <td mat-cell *matCellDef="let element"> {{element.reference_number}} </td>
              </ng-container>
              <ng-container matColumnDef="start_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Audit Date </th>
                <td mat-cell *matCellDef="let element"> {{element.start_date | date:'dd-MMM-yyyy'}} - {{element.end_date
                  | date:'dd-MMM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Division</th>
                <td mat-cell *matCellDef="let element"> {{element.division}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Audit Title</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.title.split(' ').length > 15 ? element.title.split(' ').slice(0, 15).join(' ') + '...' :
                  element.title }}
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Audit Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.type}}
                </td>
              </ng-container>

              <ng-container matColumnDef="auditee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Auditee </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngFor="let auditee of element.auditees.data">
                    {{ auditee.attributes.auditee_name }}<br>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="approver">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver
                </th>
                <td mat-cell *matCellDef="let element">

                  {{element.approver.data?.attributes.first_name}} {{element.approver.data?.attributes.last_name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="pending_audit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Audit Status</th>
                <td mat-cell *matCellDef="let element">
                  <p ngbTooltip="Pending: {{element.pending_audit}}">
                    <ngb-progressbar [type]="element.pending_color_code" [value]="element.pending_percentage"
                      [striped]="true" [animated]="true"></ngb-progressbar>
                  </p>
                </td>
              </ng-container>



              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Due Date"> Status
                </th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" class="btn {{statusButton(element.status)}} status-btn btn-icon-text btn-xs">
                    {{element.status}}
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>Actions</th>
                <td *matCellDef="let row" class="actions-cell" mat-cell>

                  <button type="button" class="btn btn-primary btn-icon btn-xs action-btn "
                    id="{{row.reference_number}}" (click)="print(row.reference_number)" placement="top"
                    ngbTooltip="Print">
                    <i class="feather icon-printer"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-icon btn-xs hide action-btn "
                    id="{{row.reference_number}}_1">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                  </button>
                  <button type="button" class="btn btn-secondary btn-icon btn-xs action-btn " (click)="view(row)"
                    placement="top" ngbTooltip="View">
                    <i class="feather icon-eye"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-icon btn-xs" (click)="modify(row)" placement="top"
                    ngbTooltip="Modify" *ngIf="row.status==='Draft' || row.status==='Change Requested'">
                    <i class="feather icon-edit"></i>
                  </button>
                  <button type="button" *ngIf="row.status==='Completed'" class="btn btn-success btn-icon btn-xs"
                    (click)="action(row)" placement="top" ngbTooltip="Action Plan">
                    <i class="feather icon-zap"></i>
                  </button>
                  <button type="button" *ngIf="row.status==='Completed'" class="btn btn-warning btn-icon btn-xs"
                    (click)="markAsReopened(row)" placement="top" ngbTooltip="Reopen Audit">
                    <i class="feather icon-book-open"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: visibleColumns;"></tr>
            </table>
          </ng-container>
          <mat-paginator [pageSize]="pageSize" showFirstLastButtons [showFirstLastButtons]="true" [length]="totalItems"
            (page)=" get_internal_audit_register($event)" aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>