<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <nav aria-label="breadcrumb ">
          <a routerLink="." class="nobleui-logo d-block mt-3">Accident <span>Management</span></a>  

          <ol class="breadcrumb breadcrumb-dot">

            <li class="breadcrumb-item"><a routerLink="/apps/insight">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/apps/accident-incident/dashboard">Accident & Incident</a></li>
            <li class="breadcrumb-item"><a routerLink="/apps/accident-incident/accident-register">Accident</a></li>
            <li class="breadcrumb-item active" aria-current="page">Assigned Task</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-4 search">
        <div>
          <div class="input-group">
            <div class="input-group-text">
              <i class="feather icon-search"></i>
            </div>
            <input type="text" class="form-control" id="navbarForm" placeholder="Search here..."
              (keyup)="applyFilter($event)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body table-card">
        <div class="table-responsive">
          <ng-container *ngIf="isLoading">
            <app-loading-screen [rows]="9"></app-loading-screen>
          </ng-container>
          <ng-container *ngIf="!isLoading">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="reference_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
              <td mat-cell *matCellDef="let element"> {{element.reference_number}} </td>
            </ng-container>
            <ng-container matColumnDef="accident_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Accident Date </th>
              <td mat-cell *matCellDef="let element"> {{element.accident_date | date:'dd-MMM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="accident_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Accident Time </th>
              <td mat-cell *matCellDef="let element"> {{element.accident_time | date:'shortTime'}} </td>
            </ng-container>
            <ng-container matColumnDef="severity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Severity
              </th>
              <td mat-cell *matCellDef="let element"> <button type="button"
                  class="btn {{severityBtn(element.severity)}} btn-xs status-btn">{{element.severity}}</button> </td>
            </ng-container>
            <ng-container matColumnDef="division">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Division
              </th>
              <td mat-cell *matCellDef="let element"> {{element.division}} </td>
            </ng-container>
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department
              </th>
              <td mat-cell *matCellDef="let element"> {{element.department}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Due Date"> Status
              </th>
              <td mat-cell *matCellDef="let element">
                <button type="button" class="btn {{statusButton(element.status)}} status-btn btn-icon-text btn-xs">
                  {{element.status}}
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="reporter">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Reporter
              </th>
              <td mat-cell *matCellDef="let element">
                
                {{element.reporter.data.attributes.first_name}} {{element.reporter.data.attributes.last_name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>Actions</th>
              <td *matCellDef="let row" class="actions-cell" mat-cell>
                <button type="button" class="btn btn-success btn-icon btn-xs" (click)="action(row)" placement="top"
                  ngbTooltip="Action">
                  <i class="feather icon-zap"></i>
                </button>
                <!-- <button type="button" class="btn btn-primary btn-icon btn-xs" id="{{row.reference_number}}"
                  (click)="print(row.reference_number)" placement="top" ngbTooltip="Print">
                  <i class="feather icon-printer"></i>
                </button> -->
                <!-- <button type="button" class="btn btn-primary btn-icon btn-xs hide" id="{{row.reference_number}}_1">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="visually-hidden">Loading...</span>
                </button> -->
                <button type="button" class="btn btn-secondary btn-icon btn-xs" (click)="view(row)" placement="top"
                  ngbTooltip="View">
                  <i class="feather icon-eye"></i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: visibleColumns; "></tr>
          </table>
          </ng-container>
          <mat-paginator [pageSize]="pageSize" showFirstLastButtons [showFirstLastButtons]="true" [length]="totalItems"
            (page)="unitSpecific && !corporateUser ?get_accident_unit_specific_register($event):get_accident_register($event)" aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>