.sidebar .sidebar-header .sidebar-brand img {
    height: 40px;
}

.nobleui-logo span {
    // color: white !important;
    font-size: 15px !important;
}


// .sidebar-dark {
//     .link-title{
//         color: white;

//     }
// }

.sidebar-dark .sidebar .sidebar-body .sidebar-nav .nav-item .nav-link{
    color: white !important;
}






// .scroller {
//     height: 1.2em;
//     line-height: 1.2em;
//     position: relative;
//     overflow: hidden;
//     width: 10em;
//   }
//   .scroller > span {
//     position: absolute;
//     top: 0;
//     animation: slide 10s normal;
    
//   }
//   @keyframes slide {
//     0% {
//       top: -1.4em;
//     }
//     50% {
//       top: -2.4em;
//     }
//     75% {
//       top: -3.6em;
//     }
   
//   }