<div class="container-fluid">
    <div class="row" [formGroup]="Form">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between header">
                        <div class="col-lg-8 ps-0">
                            <a routerLink="." class="nobleui-logo d-block mt-3">Equipment <span>
                                </span></a>
                            <p class="mt-1 mb-1">{{Form.value.asset_unique_tag_id}}</p>
                        </div>
                        <div class="col-lg-4 pe-0">
                            <h6 class="fw-bold text-end mt-4 mb-2">Created Date</h6>
                            <h6 class="text-end mb-5 ">{{Form.value.reported_date| date:'MMM d, y'}}</h6>
                        </div>
                    </div>
                    <div class="container-fluid  d-flex justify-content-center w-100">
                        <div class="table-responsive w-100">
                            <div class="row">
                                <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex">
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">article</mat-icon>
                                            General Details
                                        </ng-template>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Equipment Name </mat-label>
                                                    <input type="text" matInput formControlName="equipment_name">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Equipment Type</mat-label>
                                                    <input type="text" matInput formControlName="equipment_type">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <mat-form-field fxFlex appearance="outline">
                                                    <mat-label>Manufacturer</mat-label>
                                                    <input type="text" matInput formControlName="manufacturer">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Model</mat-label>
                                                    <input type="text" matInput formControlName="model">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Serial Number</mat-label>
                                                    <input type="text" matInput formControlName="serial_number">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Purchase Price</mat-label>
                                                    <input type="text" matInput formControlName="purchase_price">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Fuel Type</mat-label>
                                                    <input type="text" matInput formControlName="fuel_type">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Fuel Capacity</mat-label>
                                                    <input type="number" matInput formControlName="fuel_capacity">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Oil Capacity</mat-label>
                                                    <input type="number" matInput formControlName="oil_capacity">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Last Odometer Reading</mat-label>
                                                    <input type="number" matInput
                                                        formControlName="last_odometer_reading">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>GEO Tag ID</mat-label>
                                                    <input type="text" matInput formControlName="geo_tag_id">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>
                                        </div>
                                    </mat-tab>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">layers</mat-icon>
                                            Assignment
                                        </ng-template>


                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Client Name</th>
                                                        <th>Project Name</th>
                                                        <!-- <th>Assigned Operator</th>
                                                        <th>Current Location</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of assignmentList">
                                                        <td>{{data.attributes.start_date | date:'dd-MMM-yyyy'}}</td>
                                                        <td>{{data.attributes.end_date | date:'dd-MMM-yyyy'}}</td>
                                                        <td>{{data.attributes.client.data.attributes.client_name}}</td>
                                                        <td>{{data.attributes.project_name}}</td>
                                                        <!-- <td>{{data.attributes.assigned_operator.data.attributes.first_name}}</td>
                                                        <td>{{data.attributes.current_location}}</td> -->
                                                        <td>
                                                            <button type="button"
                                                                class="btn btn-secondary btn-icon btn-xs"
                                                                (click)="viewAssignment(data)" placement="top"
                                                                ngbTooltip="View">
                                                                <i class="feather icon-eye"></i>
                                                            </button>


                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>
                                            <button type="button"
                                                class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                                (click)="previousStep()">
                                                <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                                Previous
                                            </button>
                                        </div>
                                    </mat-tab>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">article</mat-icon>
                                            Daily Log
                                        </ng-template>

                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th> Check In</th>
                                                        <th> Check Out</th>
                                                        <th> Working Hours</th>
                                                        <th> Reading</th>
                                                        <th>Fuel Usage</th>
                                                        <th>Oil Usage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of dailylogList">
                                                        <td>{{data.attributes.date | date:'dd-MMM-yyyy'}}</td>
                                                        <td>{{data.attributes.operator_check_in | date:'hh:mm'}}</td>
                                                        <td>{{data.attributes.operator_check_out | date:'hh:mm'}}</td>
                                                        <td>{{data.attributes.equipment_working_hours}}</td>
                                                        <td>{{data.attributes.odometer_reading}}</td>
                                                        <td>{{data.attributes.fuel_usage}}</td>
                                                        <td>{{data.attributes.oil_usage}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>
                                            <button type="button"
                                                class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                                (click)="previousStep()">
                                                <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                                Previous
                                            </button>
                                        </div>
                                    </mat-tab>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">archive</mat-icon>
                                            Inspections
                                        </ng-template>
                                        <div class="row">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Inspection Date</th>
                                                        <th> Mechanic</th>
                                                        <th> Status</th>
                                                        <th> Grade</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of inspectionList">
                                                        <td>{{data.attributes.inspection_date | date:'dd-MMM-yyyy'}}
                                                        </td>
                                                        <td>{{data.attributes.mechanic.data.attributes.first_name }}
                                                            {{data.attributes.mechanic.data.attributes.last_name }}</td>
                                                        <td>{{data.attributes.status}}</td>
                                                        <td>{{data.attributes.grade}}</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>

                                            <button type="button"
                                                class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                                (click)="previousStep()">
                                                <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                                Previous
                                            </button>
                                        </div>
                                    </mat-tab>


                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="btn-group">
                        <button type="button"
                            class="btn {{statusButton(Form.value.status)}}">{{Form.value.status}}</button>
                        <button class="btn btn-success status-btn ms-2" mat-icon-button
                            aria-label="Example icon-button with a menu" (click)="navigate()">
                            <i class="feather icon-chevron-left"></i> Back to History

                        </button>
                    </div>

                    <div class="mt-3">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Purchase Date</mat-label>
                            <input matInput [matDatepicker]="dp" placeholder="Choose a date"
                                [formControl]="purchasedate">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Last Inspection Date</mat-label>
                            <input matInput [matDatepicker]="ip" placeholder="Choose a date"
                                [formControl]="inspectiondate">
                            <mat-datepicker-toggle matSuffix [for]="ip"></mat-datepicker-toggle>
                            <mat-datepicker #ip></mat-datepicker>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>