.table-responsive {
    overflow: hidden;
}

.mat-button-toggle-checked {
    background-color: #6571ff;
    color: white !important;
}

.warning-font-safe {
    font-size: 9px;
    color: red;
    padding-left: 6em;

}