<div class="container-fluid">
    <div class="row" [formGroup]="Form">
        <div class="col-lg-12">

            <div class="container-fluid d-flex justify-content-between header">
                <div class="col-lg-8 ps-0">
                    <a routerLink="." class="nobleui-logo d-block mt-3">Medicine<span>
                        Inventory</span></a>
                    <p class="mt-1 mb-1">Medicine Request : {{Form.value.reference_number}}</p>
                </div>
                <div class="col-lg-4 pe-0">
                    <h6 class="fw-bold text-end mt-4 mb-2">Requested Date</h6>
                    <h6 class="text-end mb-5 ">{{Form.value.request_date| date:'MMM d, y'}}</h6>
                </div>
            </div>
            <div class="container-fluid  d-flex justify-content-center w-100">
                <div class="table-responsive w-100">



                    <div class="row ">
                        <div class="col-md-6">
                            <mat-form-field fxFlex appearance="outline">
                                <mat-label>Medicine Name</mat-label>
                                <input type="text" matInput formControlName="medicine_name">
                                <mat-error>Required Field</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Generic Name</mat-label>
                                <input type="text" matInput formControlName="generic_name">
                                <mat-error>Required Field</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <mat-form-field fxFlex appearance="outline">
                                <mat-label>Division</mat-label>
                                <input type="text" matInput formControlName="division">
                                <mat-error>Required Field</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Requested Quantity</mat-label>
                                <input type="number" matInput formControlName="requested_quantity">
                                <mat-error>Required Field</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <mat-form-field fxFlex appearance="outline" color="primary">
                                <mat-label>Approver</mat-label>
                                <input type="text" matInput formControlName="approver">
                                <mat-error>Required Field</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
    </div>
</div>