.table-responsive {
    overflow: hidden;
}

.mat-button-toggle-checked {
    background-color: #6571ff;
    color: white !important;
}

.action-btn {
    margin-right: 5px;
}

.btn-previous {
    margin-right: 2px;
}

.injuryType {
    display: grid;

    .injuryTypeOption {
        border-bottom: solid 1px #e7e7e7;
        border-left: none
    }
}

.quill-editor-error {
    font-size: 12px;
    color: red;
    text-align: right;

}