<div class="container-fluid">
    <div class="row" [formGroup]="Form">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between header">
                        <div class="col-lg-8 ps-0">
                            <a routerLink="." class="nobleui-logo d-block mt-3">Satisfaction <span>
                                    Survey</span></a>
                            <h6 class=" mb-2 pb-3"># {{Form.value.reference_number}}</h6>
                        </div>
                        <div class="col-lg-4 pe-0">
                            <h6 class="fw-bold text-end mt-4 mb-2"> Date</h6>
                            <h6 class="text-end mb-3 pb-2">{{Form.value.created_date| date:'MMM d, y'}}</h6>
                        </div>
                    </div>
                    <div class="container-fluid  d-flex justify-content-center w-100">
                        <div class="table-responsive w-100" style="overflow: hidden;">
                            <div class="row">
                                <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex">

                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">layers</mat-icon>
                                            Questions
                                        </ng-template>
                                        <div class="row">
                                            <button type="button" class="btn btn-primary btn-icon-text"
                                                (click)="addQuestions()">
                                                Add Questions
                                                <i class="feather icon-box btn-icon-append"></i>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <div class="table-responsive pt-3" id="language">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 15px;">SlNo</th>
                                                            <th>Questions</th>
                                                            <th style="width: 150px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let data of questions; let i = index">
                                                            <td>{{ i + 1 }}</td>
                                                            <!-- <td>{{data.Question}}</td> -->
                                                            <td [innerHTML]="getTruncatedQuestion(data.Question)"></td>
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-primary btn-icon-text btn-xs action-btn float-start"
                                                                    (click)="viewQuestions(data)">
                                                                    <i class="feather icon-eye"></i>
                                                                </button>

                                                                <button type="button"
                                                                    class="btn btn-danger btn-icon-text btn-xs action-btn float-start"
                                                                    (click)="deleteQuestions(data)">
                                                                    <i class="feather icon-trash-2"></i>
                                                                </button>

                                                                <!-- <button type="button"
                                                                    class="btn btn-primary btn-icon-text btn-xs action-btn float-start"
                                                                    (click)="viewQuestions(data)">
                                                                    <i class="feather icon-eye"></i>
                                                                </button> -->

                                                                <!-- <button type="button"
                                                                    class="btn btn-warning btn-icon-text btn-xs action-btn float-start"
                                                                    (click)="editConsumption(data)">
                                                                    <i class="feather icon-edit"></i>
                                                                </button> -->

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>
                                            <!-- <button type="button"
                                                class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                                (click)="previousStep()">
                                                <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                                Previous
                                            </button> -->
                                        </div>
                                    </mat-tab>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">archive</mat-icon>
                                            Survey Details
                                        </ng-template>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Title</mat-label>
                                                    <input type="text" matInput formControlName="title">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <!-- <div class="row ">
                                            <div class="col-md-6 " *ngIf="switch">
                                                <div class="form-check form-switch mb-1">
                                                    <input type="checkbox" class="form-check-input" id="formSwitch1"
                                                        formControlName="anonymus">
                                                    <label class="form-check-label" for="formSwitch1">Anonymity
                                                        Options</label>
                                                </div>
                                            </div>
                                        </div> -->
                                            
                                            <!-- <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Frequency</mat-label>
                                                    <input type="text" matInput formControlName="freequency">
                                                    <mat-error>Required Field</mat-error>
                                                </mat-form-field>
                                            </div> -->
                                            
                                            <div class="row mb-4 mt-2 text-center">
                                                <div class="d-grid gap-2">

                                                    <button type="button" class="btn btn-secondary" id="ai-suggest"
                                                        (click)="suggestDescription()">
                                                        Suggest Description</button>
                                                    <p class="error hide" id="error-text">Please Provide Survey Title
                                                    </p>
                                                    <button type="button" class="btn btn-success hide" id="ai-loader">
                                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                                            aria-hidden="true"></span>
                                                        Please wait , looking recommendations for Description.
                                                    </button>

                                                </div>

                                            </div>
                                            <div class="col-md-12 mb-4">
                                                <quill-editor placeholder="Survey Description *" [modules]="quillConfig"
                                                    formControlName="description">
                                                </quill-editor>
                                                <div
                                                    *ngIf="Form.get('description')?.touched && Form.get('description')?.invalid">
                                                    <small class="quill-editor-error">Required Field *</small>
                                                </div>
                                            </div>
                                            <div class="row mb-4 text-center">
                                                <div class="d-grid gap-2">

                                                    <button type="button" class="btn btn-secondary" id="disclamer-ai-suggest"
                                                        (click)="suggestDisclaimer()">
                                                        Suggest Disclaimer</button>
                                                    <p class="error hide" id="disclaimer-error-text">Please Provide Survey Title
                                                    </p>
                                                    <button type="button" class="btn btn-success hide" id="disclaimer-ai-loader">
                                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                                            aria-hidden="true"></span>
                                                        Please wait , looking recommendations for Disclaimer.
                                                    </button>

                                                </div>

                                            </div>
                                            <div class="col-md-12 after">
                                                <quill-editor placeholder="Disclaimer *" [modules]="quillConfig"
                                                    formControlName="disclaimer">
                                                </quill-editor>
                                                <div
                                                    *ngIf="Form.get('disclaimer')?.touched && Form.get('disclaimer')?.invalid">
                                                    <small class="quill-editor-error">Required Field *</small>
                                                </div>
                                            </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                (click)="nextStep()" *ngIf="tab">
                                                <i class="feather icon-arrow-right-circle btn-icon-prepend"></i>
                                                Next
                                            </button>
                                            <button type="button" class="btn btn-primary btn-icon-text float-end mt-4"
                                                [disabled]="!Form.valid" (click)="submit()" *ngIf="!tab">
                                                <i class="feather icon-send btn-icon-prepend"></i>
                                                Submit
                                            </button>
                                            &nbsp; <button type="button" *ngIf="this.Form.value.status == 'Draft' && !tab"
                                                class="btn btn-secondary btn-icon-text float-end mt-4 action-btn"
                                                (click)="saveAsDraft()">
                                                <i class="feather icon-save btn-icon-prepend"></i>
                                                Save as Draft
                                            </button>
                                            <button type="button"
                                                class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                                (click)="previousStep()">
                                                <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                                Previous
                                            </button>

                                        </div>

                                    </mat-tab>
                                    <mat-tab *ngIf="tab">
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon">article</mat-icon>
                                            Participants
                                        </ng-template>
                                        <div class="row">
                                            <button type="button" class="btn btn-primary btn-icon-text"
                                                (click)="addParticipants()">
                                                Add Participants
                                                <i class="feather icon-box btn-icon-append"></i>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <div class="table-responsive pt-3" id="language">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 15px;">SlNo</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th style="width: 130px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let data of participants; let i = index">
                                                            <td>{{ i + 1 }}</td>
                                                            <td>{{data.Employee}}</td>
                                                            <td>{{data.Email}}</td>
                                                            <td>
                                                                <button type="button"
                                                                    class="btn btn-success btn-icon btn-xs  action-btn"
                                                                    (click)="updateParticipants(data)" placement="top"
                                                                    ngbTooltip="Modify">
                                                                    <i class="feather icon-edit"></i>
                                                                </button>

                                                                <button type="button"
                                                                    class="btn btn-primary btn-icon btn-xs action-btn "
                                                                    (click)="viewParticipants(data)" ngbTooltip="View">
                                                                    <i class="feather icon-eye"></i>
                                                                </button>


                                                                <button type="button"
                                                                    class="btn btn-danger btn-icon btn-xs action-btn"
                                                                    (click)="deleteParticipants(data)"
                                                                    ngbTooltip="Delete">
                                                                    <i class="feather icon-trash-2"></i>
                                                                </button>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-success btn-icon-text float-end mt-4"
                                            [disabled]="!(Form.valid && sub)" (click)="submit()">
                                            <i class="feather icon-send btn-icon-prepend"></i>
                                            Submit
                                        </button>
                                        &nbsp; <button type="button"
                                            class="btn btn-secondary btn-icon-text float-end mt-4 action-btn"
                                            (click)="saveAsDraft()">
                                            <i class="feather icon-save btn-icon-prepend"></i>
                                            Save as Draft
                                        </button>
                                        &nbsp; <button type="button"
                                            class="btn btn-primary btn-icon-text float-end mt-4 btn-previous"
                                            (click)="previousStep()">
                                            <i class="feather icon-arrow-left-circle btn-icon-prepend"></i>
                                            Previous
                                        </button>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="mt-3">
                        <button class="btn btn-primary" mat-icon-button aria-label="Example icon-button with a menu">
                            <i class=" btn-icon-prepend"></i> {{Form.value.status}}
                        </button>
                        &nbsp; <button routerLink="/apps/satisfaction-survey/survey-history"
                            class="btn btn-success status-btn" mat-icon-button
                            aria-label="Example icon-button with a menu">
                            <i class="feather icon-chevron-left"></i> Back to Survey History

                        </button>
                    </div>
                    <div class="mt-2">
                        <label class="tx-11 fw-bolder mb-0 text-uppercase">Created By:</label>
                        <p class="text-muted">{{Form.value.createrName}}, {{Form.value.createrDesignation}}</p>
                    </div>
                    <div class="mt-2" *ngIf="tab">
                        <label class="tx-11 fw-bolder mb-0 text-uppercase">Participant Count</label>
                        <p class="text-muted">{{Form.value.participant_count}} {{pts}}</p>
                    </div>
                    <div class="mt-3">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Survey Category</mat-label>
                            <mat-select (selectionChange)="onSurveyCatChange($event)" formControlName="category" multiple>
                                <mat-option *ngFor="let category of categories" [value]="category.attributes.value">
                                    <div class="option-container">
                                        {{ category.attributes.value }}
                                        <div class="icon-container" (click)="$event.stopPropagation()">
                                            <i class="feather icon-edit titleicon_edit" (click)="editSurveycat(category)"></i>&nbsp;
                                            <i class="feather icon-trash-2 titleicon_delete" (click)="deleteSurveycat(category)"></i>
                                        </div>
                                    </div>
                                </mat-option>
                                <mat-option (click)="new_survey_cat()" class="option-btn">
                                    <i class="mdi mdi-plus-circle"></i> Create New Survey category
                                </mat-option>
                            </mat-select>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="mt-3">
                      <mat-form-field fxFlex appearance="outline">
                        <mat-label>Question Category</mat-label>
                        <mat-select formControlName="question_category" multiple>
                          <mat-option *ngFor="let questioncategory of filteredquestioncategories" [value]="questioncategory.attributes.value">
                            <div class="option-container">
                              {{ questioncategory.attributes.value }}
                              <div class="icon-container" (click)="$event.stopPropagation()">
                                <i class="feather icon-edit titleicon_edit" (click)="editSurveyQuestioncat(questioncategory)"></i>&nbsp;
                                <i class="feather icon-trash-2 titleicon_delete" (click)="deleteSurveyQuestioncat(questioncategory)"></i>
                              </div>
                            </div>
                        </mat-option>
                        <mat-option *ngIf="Form.controls['category'].value.length>0" (click)="new_survey_question_cat()" class="option-btn">
                            <i class="mdi mdi-plus-circle"></i> Create New Survey category
                        </mat-option>
                    </mat-select>
                    <mat-error>Required Field</mat-error>
                </mat-form-field>
            </div>
            <div class="mt-1">
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Survey Purpose</mat-label>
                    <mat-select  formControlName="purpose"  >
                        <mat-option  *ngFor="let purpose of surveyPurposes" value="{{purpose.attributes.value}}">
                            <div class="option-container">
                                {{ purpose.attributes.value }}
                                <div class="icon-container" (click)="$event.stopPropagation()">
                                  <i class="feather icon-edit titleicon_edit" (click)="editSurveyPurpose(purpose)"></i>&nbsp;
                                  <i class="feather icon-trash-2 titleicon_delete" (click)="deleteSurveyPurpose(purpose)"></i>
                                </div>
                              </div>
                        </mat-option>
                        <mat-option (click)="new_survey_purpose()" class="option-btn">
                            <i class="mdi mdi-plus-circle"></i> Create New Survey Purpose
                          </mat-option>
                    </mat-select>
                    <mat-error>Required Field</mat-error>
                </mat-form-field>
            </div>
                    <!-- <div class="mt-2">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Survey Type</mat-label>
                            <mat-select formControlName="surveytype" (selectionChange)="onSurveytypeSelect($event)">
                                <mat-option *ngFor="let surveytype of surveytypes" 
                                    value="{{surveytype.attributes.Value}}">
                                    {{surveytype.attributes.Value}}</mat-option>
                            </mat-select>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div> -->
                    <div class="mt-2">
                        <mat-form-field  fxFlex appearance="outline">
                            <mat-label>Survey Type</mat-label>
                            <!-- <mat-select formControlName="surveytype"
                                (selectionChange)="onSurveytypeSelect($event)">
                                <mat-option *ngFor="let surveytype of surveytypes"
                                    value="{{surveytype.attributes.Value}}">
                                    {{surveytype.attributes.Value}}</mat-option>
                            </mat-select> -->
                            <input [readonly]="true" type="text" matInput formControlName="surveytype">
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div class="mt-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Participant Count</mat-label>
                            <input type="number" matInput formControlName="participant_count">
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="mt-2">
                      
                        <mat-form-field fxFlex appearance="outline" color="primary">
                            <mat-label>Language Preference</mat-label>
                            <mat-select [formControl]="language" multiple
                                (selectionChange)="LanguageChange($event)">
                                <mat-select-trigger>
                                    {{language.value ? language.value[0] : ''}}
                                    <span *ngIf="language.value?.length > 1"
                                        class="example-additional-selection">
                                        (+{{language.value.length - 1}}
                                        {{language.value?.length === 2 ?
                                        'other' :
                                        'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let language of languages"
                                    [value]="language.name">{{language.name}}</mat-option>
                            </mat-select>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div> -->

                    <div class="mt-2">
                        <mat-form-field appearance="outline" color="primary" id="dashboard">
                            <mat-label>Survey Duration</mat-label>
                            <mat-date-range-input [formGroup]="surveyDateRange" [rangePicker]="picker">
                                <input matStartDate formControlName="start_date" placeholder="Start date"
                                    (dateChange)="startDateChange($event)">
                                <input matEndDate formControlName="end_date" placeholder="End date"
                                    (dateChange)="endDateChange($event)">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            <mat-error
                                *ngIf="surveyDateRange.controls.start_date.hasError('matStartDateInvalid')">Invalid
                                start date</mat-error>
                            <mat-error *ngIf="surveyDateRange.controls.end_date.hasError('matEndDateInvalid')">Invalid
                                end
                                date
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div class="mt-3">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Business Unit</mat-label>
                            <mat-select [formControl]="business_unit" (selectionChange)="BusinessUnit($event)">
                                <mat-option *ngFor="let data of divisions" [value]="data.division_name">
                                    {{data.division_name}}</mat-option>
                            </mat-select>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>