<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row justify-content-center">
                <img src="../../../../assets/images/feedback.gif" class="smily"> 
            </div>
            <div class="row justify-content-center text-center mt-2">
                <h4>Your Feedback is Important to us</h4>
            </div>
           
            <div class="row text-center mt-2 ">
               
                <div class="col-md-12">
                     
                        <ngb-rating formControlName="rating" [max]="5"></ngb-rating>
                      
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <quill-editor placeholder="Feedback" [modules]="quillConfig" formControlName="feedback">
                    </quill-editor>

                </div>
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4 " (click)="submit()"
                    [disabled]="!Form.valid">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Submit
                </button>

            </div>

        </div>
    </div>