<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let data of lov[6]?.value" [value]="data.Value">
                                <span>{{ data.Value }}</span>
                            </mat-option>

                        </mat-select>
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Complaints</mat-label>
                        <input type="number" (keydown)="handleNumericInput($event)" matInput formControlName="complaints">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input type="text" matInput formControlName="description">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Corrective Action</mat-label>
                        <input type="text" matInput formControlName="corrective_action">
                        <mat-error>Required Field</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mb-3">
                <button *ngIf="data.mode !== 'view'" type="button" class="btn btn-success btn-icon-text float-end mt-4"
                    [disabled]="!Form.valid" (click)="submit()">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Submit
                </button>
                <button *ngIf="data.mode === 'view'" type="button" class="btn btn-success btn-icon-text float-end mt-4"
                    (click)="close()">
                    <i class="feather icon-x btn-icon-prepend"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>