<div mat-dialog-content [formGroup]="Form">
  <div class="container-fluid  d-flex justify-content-center w-100">
    <div class="table-responsive w-100">

      <div class="row ">
        <div class="col-md-6">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Industry</mat-label>
            <mat-select [formControl]="industryControl">
              <mat-option *ngFor="let data of industries" [value]="data.attributes.value" (click)="set_industry(data)">
                <div class="option-container">
                  {{ data.attributes.value }}
                  <div class="icon-container" (click)="$event.stopPropagation()">
                    <i class="feather icon-edit titleicon_edit" (click)="editIndustry(data)"></i>&nbsp;
                    <i class="feather icon-trash-2 titleicon_delete" (click)="deleteIndustry(data)"></i>
                  </div>
                </div>
              </mat-option>
              <mat-option (click)="new_industry()" class="option-btn">
                <i class="mdi mdi-plus-circle"></i> Create Industry
              </mat-option>
            </mat-select>
            <mat-error>Required Field</mat-error>
          </mat-form-field>

        </div>
        <div class="col-md-6">





<mat-form-field fxFlex appearance="outline">
  <mat-label>Framework</mat-label>
  <mat-select [formControl]="Frameworks" multiple (selectionChange)="handleFrameworkSelection($event)">
    
    <!-- Select All -->
    <mat-option *ngIf="!isAllFrameworksSelected()" [value]="'__select_all__'">
      Select All
    </mat-option>

    <!-- Deselect All -->
    <mat-option *ngIf="isAllFrameworksSelected()" [value]="'__deselect_all__'">
      Deselect All
    </mat-option>

    <!-- Actual Framework Options -->
    <mat-option *ngFor="let data of frameworks" [value]="data?.attributes?.value">
      <div class="option-container" style="display: flex; justify-content: space-between; align-items: center;">
        <span>{{ data.attributes.value }}</span>
        <span class="icon-container" (click)="$event.stopPropagation()">
          <i class="feather icon-edit titleicon_edit" (click)="editFramework(data)"></i>&nbsp;
          <i class="feather icon-trash-2 titleicon_delete" (click)="deleteFramework(data)"></i>
        </span>
      </div>
    </mat-option>

    <!-- Create new -->
    <mat-option (click)="new_framework()" class="option-btn">
      <i class="mdi mdi-plus-circle"></i> Create new framework
    </mat-option>
  </mat-select>

  <mat-error *ngIf="Frameworks.invalid && Frameworks.touched">
    Required Field
  </mat-error>
</mat-form-field>

          <!-- <mat-form-field fxFlex appearance="outline">
            <mat-label>Framework</mat-label>
            <mat-select [formControl]="Frameworks" multiple>
              <mat-option *ngFor="let data of frameworks" [value]="data?.attributes?.value">
                <div class="option-container">
                  {{ data.attributes.value }}
                  <div class="icon-container" (click)="$event.stopPropagation()">
                    <i class="feather icon-edit titleicon_edit" (click)="editFramework(data)"></i>&nbsp;
                    <i class="feather icon-trash-2 titleicon_delete" (click)="deleteFramework(data)"></i>
                  </div>
                </div>
              </mat-option>
              <mat-option (click)="new_framework()" class="option-btn">
                <i class="mdi mdi-plus-circle"></i> Create new framework
              </mat-option>
            </mat-select>
            <mat-error *ngIf="Frameworks.invalid && Frameworks.touched">Required Field</mat-error>
          </mat-form-field> -->
        </div>

      </div>
      <div class="row ">
        <!-- <div class="col-md-6">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select [formControl]="Categories" multiple>
                          <mat-option *ngFor="let data of categories" [value]="data.attributes.value">
                            <div class="option-container">
                              {{ data.attributes.value }}
                              <div class="icon-container" (click)="$event.stopPropagation()">
                                <i class="feather icon-edit titleicon_edit" (click)="editCategory(data)"></i>&nbsp;
                                <i class="feather icon-trash-2 titleicon_delete" (click)="deleteCategory(data)"></i>
                              </div>
                            </div>
                          </mat-option>
                          <mat-option (click)="new_category()" class="option-btn">
                            <i class="mdi mdi-plus-circle"></i> Create new Category
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="Categories.invalid && Categories.touched">Required Field</mat-error>
                      </mat-form-field>
                      
                  </div> -->


        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Topic</mat-label>
            <mat-select formControlName="topic">
              <mat-option value="{{data}}" *ngFor="let data of materialityTopic" (click)="setTopic()">
                {{data}}</mat-option>
            </mat-select>
            <mat-error>Required Field</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field fxFlex appearance="outline">
  <mat-label>Sub Topic</mat-label>
  <mat-select [formControl]="subTopics" multiple (selectionChange)="handleSubTopicSelection($event)">
    
    <!-- Conditionally show Select All or Deselect All -->
    <mat-option *ngIf="!isAllSubTopicsSelected()" [value]="'__select_all__'" (click)="setindividualTopic()">
      Select All
    </mat-option>

    <mat-option *ngIf="isAllSubTopicsSelected()" [value]="'__deselect_all__'">
      Deselect All
    </mat-option>

    <!-- Regular Sub Topic Options -->
    <mat-option *ngFor="let data of materialitysubTopic" 
                [value]="data.attributes.value" 
                (click)="setindividualTopic()">
      <div class="option-container">
        {{ data.attributes.value }}
      </div>
    </mat-option>

    <!-- Create new subtopic -->
    <mat-option (click)="new_subtopic()" class="option-btn">
      <i class="mdi mdi-plus-circle"></i> Create new Subtopic
    </mat-option>
  </mat-select>

  <mat-error *ngIf="subTopics.invalid && subTopics.touched">
    Required Field
  </mat-error>
</mat-form-field>

          <!-- <mat-form-field fxFlex appearance="outline">
            <mat-label>Sub Topic</mat-label>
            <mat-select [formControl]="subTopics" multiple>
              <mat-option *ngFor="let data of materialitysubTopic" [value]="data.attributes.value"
                (click)="setindividualTopic()">
                <div class="option-container">
                  {{ data.attributes.value }}
                </div>
              </mat-option>
              <mat-option (click)="new_subtopic()" class="option-btn">
                <i class="mdi mdi-plus-circle"></i> Create new Subtopic
              </mat-option>
            </mat-select>
            <mat-error>Required Field</mat-error>
          </mat-form-field> -->
        </div>
        <div class="col-md-6">
          <mat-form-field fxFlex appearance="outline">
  <mat-label>Individual Topic</mat-label>
  <mat-select [formControl]="individualTopics" multiple (selectionChange)="handleIndividualTopicSelection($event)">
    
    <!-- Select / Deselect All Toggle -->
    <mat-option *ngIf="!isAllIndividualTopicsSelected()" [value]="'__select_all__'">
      Select All
    </mat-option>

    <mat-option *ngIf="isAllIndividualTopicsSelected()" [value]="'__deselect_all__'">
      Deselect All
    </mat-option>

    <!-- Actual Options -->
    <mat-option *ngFor="let data of materialityindividualTopic" [value]="data.attributes.value">
      <div class="option-container">
        {{ data.attributes.value }}
      </div>
    </mat-option>

    <!-- Create new -->
    <mat-option (click)="new_individualtopic()" class="option-btn">
      <i class="mdi mdi-plus-circle"></i> Create new Subtopic
    </mat-option>
  </mat-select>

  <mat-error *ngIf="individualTopics.invalid && individualTopics.touched">
    Required Field
  </mat-error>
</mat-form-field>

          <!-- <mat-form-field fxFlex appearance="outline">
            <mat-label>Individual Topic</mat-label>
            <mat-select [formControl]="individualTopics" multiple>
              <mat-option *ngFor="let data of materialityindividualTopic" [value]="data.attributes.value">
                <div class="option-container">
                  {{ data.attributes.value }}
                </div>
              </mat-option>
              <mat-option (click)="new_individualtopic()" class="option-btn">
                <i class="mdi mdi-plus-circle"></i> Create new Subtopic
              </mat-option>
            </mat-select>
            <mat-error>Required Field</mat-error>
          </mat-form-field> -->
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Stakeholder Category</mat-label>
            <mat-select formControlName="stakeholder_category">
              <mat-option value="{{data}}" *ngFor="let data of stackholderCategory" (click)="setstakeholder_type(data)">
                {{data}}</mat-option>
            </mat-select>
            <mat-error>Required Field</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field fxFlex appearance="outline">
  <mat-label>Stakeholder Type</mat-label>
  <mat-select [formControl]="stakeholderTypes" multiple (selectionChange)="handleSelection($event)">
    
    <!-- Select All -->
    <mat-option [value]="'__select_all__'" *ngIf="!isAllSelecteds()">
      Select All
    </mat-option>

    <!-- Deselect All -->
    <mat-option [value]="'__deselect_all__'" *ngIf="isAllSelecteds()">
      Deselect All
    </mat-option>

    <!-- Actual Options -->
    <mat-option *ngFor="let data of stackholderType" [value]="data">
      {{ data }}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="stakeholderTypes.invalid && stakeholderTypes.touched">
    Required Field
  </mat-error>
</mat-form-field>



          <!-- <mat-form-field fxFlex appearance="outline">
            <mat-label>Stakeholder Type</mat-label>
            <mat-select [formControl]="stakeholderTypes" multiple>
              <mat-option *ngFor="let data of stackholderType" [value]="data">
                <div class="option-container">
                  {{ data }}
                </div>
              </mat-option>
            </mat-select>
            <mat-error>Required Field</mat-error>
          </mat-form-field> -->
        </div>
      </div>

      <div class="mb-3">
        <button type="button" class="btn btn-success btn-icon-text float-end mt-4 " (click)="submit()"
          [disabled]="!Form.valid">
          <i class="feather icon-send btn-icon-prepend"></i>
          Submit
        </button>
      </div>

    </div>
  </div>