.table-responsive {
    overflow-x: unset;
}

.btn-xs {
    margin-right: 5px;
}

tr {
    height: unset !important;
    vertical-align: middle;
}

th {
    height: 40px;
}

.priorityIcon {
    vertical-align: auto;
    text-align: center;
}

.card-body{
    padding-top: 1%;
    padding-bottom: 1%;
}

.table-card {
    padding: 0px;
}

.high {
    color: red;
}

.medium {
    color: orange;
}

.low {
    color: green;
}

.edit-btn {
    margin-right: 5px;
    padding-left: 20px;
}

.view-btn {
    padding-left: 20px;

}

.status-btn {
    width: 100%;
    text-align: left;
    padding-left: 0px;

}


.hide{
    display: none;
}

.search{
    align-self: center;
}

.btn-reset{
    margin-left: 5px;
}