<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <nav aria-label="breadcrumb ">
                    <a routerLink="." class="nobleui-logo d-block mt-3">ESG <span>Management</span></a>
                    <ol class="breadcrumb breadcrumb-dot">
                        <li class="breadcrumb-item"><a routerLink="/apps/insight">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="">ESG </a></li>
                        <li class="breadcrumb-item"><a routerLink="/apps/esg/register">Register</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 search">
                <div>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="feather icon-search"></i>
                        </div>
                        <input [(ngModel)]="searchReference" type="text" class="form-control" id="navbarForm"
                            placeholder="Search here...">
                    </div>
                </div>
            </div>
            <div *ngIf="(corporateUser === true) || (divisions.length > 1)" class="col-2 search mt-4 ">
                <mat-form-field fxFlex appearance="outline" color="primary">
                    <mat-label>Division</mat-label>
                    <mat-select [formControl]="Division" multiple (selectionChange)="ESGDiv($event)">
                        <mat-select-trigger>
                            {{Division.value[0]?.division_name? Division.value[0]?.division_name : ''}}
                            <span *ngIf="Division?.value?.length > 1" class="example-additional-selection">
                                (+{{Division.value.length - 1}}
                                {{Division.value?.length === 2 ?
                                'other' :
                                'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let division of divisions"
                            [value]="division">{{division.division_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 search">
                <button type="button" class="btn btn-primary btn-icon-text" (click)="generate()">
                    <i class="btn-icon-prepend" data-feather="search"></i>
                    Search
                </button>

                <button type="button" class="btn btn-secondary btn-icon-text btn-reset" (click)="reset()">
                    <i class="btn-icon-prepend" data-feather="rotate-cw"></i>

                    Reset
                </button>

                <button type="button" class="btn btn-primary btn-icon-text hide btn-reset" id="env_report_loader">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    &nbsp; Please wait...
                </button>
                <button class="btn btn-success btn-icon-text search" (click)="create()">
                    <i class="btn-icon-prepend " data-feather="plus-circle"></i>
                    CREATE
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body table-card">
                <div class="table-responsive">
                    <ng-container *ngIf="isLoading">
                        <app-loading-screen [rows]="9"></app-loading-screen>
                    </ng-container>
                    <ng-container *ngIf="!isLoading">

                        <table mat-table matSort [dataSource]="dataSource">
                            <ng-container matColumnDef="referenceNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.referenceNumber}} </td>
                            </ng-container>
                            <ng-container matColumnDef="yearData">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.yearData}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monthData">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
                                <td mat-cell *matCellDef="let element"> {{element.monthData}} </td>
                            </ng-container>

                            <ng-container matColumnDef="progressData">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                                <td mat-cell *matCellDef="let element"> {{element.progressData}} </td>
                            </ng-container>

                            <ng-container matColumnDef="statusData">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Status">
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button"
                                        class="btn {{statusButton(element.statusData)}} status-btn btn-icon-text">
                                        {{element.statusData}}
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>Actions</th>
                                <td *matCellDef="let row" class="actions-cell" mat-cell>
                                    <button type="button" class="btn btn-warning btn-icon btn-xs"
                                        *ngIf="row.createdUser.id===currentUser" (click)="modify(row)" placement="top"
                                        ngbTooltip="Modify">
                                        <i class="feather icon-edit"></i>
                                    </button>
                                    <button *ngIf="isCurrentUserInTeam(row)" type="button"
                                        class="btn btn-success btn-icon btn-xs" (click)="action(row)" placement="top"
                                        ngbTooltip="Action">
                                        <i class="feather icon-zap"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon btn-xs hide"
                                        id="{{row.document_number}}_1">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span class="visually-hidden">Loading...</span>
                                    </button>
                                    <button *ngIf="isCurrentUserInTeam(row)" type="button"
                                        class="btn btn-secondary btn-icon btn-xs" (click)="view(row)" placement="top"
                                        ngbTooltip="View">
                                        <i class="feather icon-eye"></i>
                                    </button>

                                    <button type="button" class="btn btn-primary btn-icon btn-xs hide"
                                        id="{{row.reference_number}}_1">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span class="visually-hidden">Loading...</span>
                                    </button>
                                    <!-- <button *ngIf="row.statusData==='Open'" type="button" 
                                     class="btn btn-warning btn-icon btn-xs"
                                    (click)="markAsReopened(row)" placement="top" ngbTooltip="Reopen">
                                    <i class="feather icon-book-open"></i>
                                  </button> -->
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: visibleColumns;"></tr>
                        </table>
                    </ng-container>

                    <mat-paginator [pageSize]="pageSize" showFirstLastButtons [showFirstLastButtons]="true"
                        [length]="totalItems" (page)="onPaginate($event)" aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>