<div mat-dialog-content [formGroup]="Form">
    <div class="container-fluid  d-flex justify-content-center w-100">
        <div class="table-responsive w-100">
            <div class="row ">
                <quill-editor placeholder="Please provide the reason for rejection" [modules]="quillConfig"
                    formControlName="reason">
                </quill-editor>
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-success btn-icon-text float-end mt-4" (click)="close()"
                    [disabled]="!this.Form.valid">
                    <i class="feather icon-send btn-icon-prepend"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>