<div class="container-fluid">
    <div class="row" [formGroup]="Form">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between header">
                        <div class="col-lg-8 ps-0">
                            <a routerLink="." class="nobleui-logo d-block mt-3">External<span>
                                    Audit</span></a>
                            <p class="mt-1 mb-1"><b># {{Form.value.reference_number}}</b></p>
                        </div>
                        <div class="col-lg-4 pe-0">
                            <h6 class="fw-bold text-end mt-4 mb-2">Date</h6>
                            <h6 class="text-end mb-5 ">{{Form.value.date| date:'MMM d, y'}}</h6>
                        </div>
                    </div>
                    <div class="container-fluid  d-flex justify-content-center w-100">
                        <div class="table-responsive w-100">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label>Audit Type</mat-label>
                                        <mat-select formControlName="audit_type">
                                            <mat-option *ngFor="let type of TypeList "
                                                value="{{type.attributes.Value}}">
                                                {{type.attributes.Value}}</mat-option>
                                        </mat-select>
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label>Audit Category</mat-label>
                                        <mat-select formControlName="audit_category">
                                            <mat-option *ngFor="let type of CategoryList "
                                                value="{{type.attributes.Value}}">
                                                {{type.attributes.Value}}</mat-option>
                                        </mat-select>
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Customer</mat-label>
                                        <input type="text" matInput formControlName="customer">
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label>Audit Standard</mat-label>
                                        <!-- <mat-select formControlName="audit_standard">
                                            <mat-option (click)="new_audit_standard()" class="option-btn"> <i class="mdi mdi mdi-plus-circle"></i> Create a standard </mat-option>

                                            <mat-option
                                                *ngFor="let type of StandardList "
                                                value="{{type.attributes.standard_name}}">
                                                {{type.attributes.standard_name}}</mat-option>
                                        </mat-select>
                                        <mat-error>Required Field</mat-error> -->
                                        <input type="text" matInput [formControl]="Audit_standard"
                                            [matAutocomplete]="autoAuditStandard" (focus)="onInputFocus()">
                                        <mat-autocomplete #autoAuditStandard="matAutocomplete"
                                            (optionSelected)="onOptionSelected($event)">
                                            <mat-option *ngFor="let name of filteredAuditStandards | async"
                                                [value]="name.attributes.standard_name">
                                                {{name.attributes.standard_name}}
                                            </mat-option>
                                            <mat-option (click)="new_audit_standard()" class="option-btn">
                                                <i class="mdi mdi-plus-circle"></i> Create a standard
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label>Audit Firm</mat-label>
                                        <mat-select formControlName="audit_firm">
                                            <mat-option *ngFor="let type of auditFirmList "
                                                value="{{type.attributes.firm_name}}">
                                                {{type.attributes.firm_name}}</mat-option>
                                            <mat-option (click)="new_audit_firm()" class="option-btn"> <i
                                                    class="mdi mdi mdi-plus-circle"></i> Create a Firm </mat-option>

                                        </mat-select>
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field appearance="outline">
                                        <mat-label>Audit Firm</mat-label>
                                        <input type="text" matInput formControlName="audit_firm">
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field> -->

                                </div>
                                <div class="col-md-4">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label>Division</mat-label>
                                        <mat-select [formControl]="Division" (selectionChange)="BusinessUnit($event)">
                                            <mat-option [value]="data.division_name"
                                                *ngFor="let data of divisions">{{data.division_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label>Management Representative</mat-label>
                                        <mat-select formControlName="audit_representative">
                                            <mat-option *ngFor="let representative of peopleList"
                                                [value]="representative.id">
                                                {{ representative.attributes.first_name
                                                }}{{representative.attributes.last_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>
                                </div>


                            </div>
                            <!-- <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Audit Fee</mat-label>
                                        <input type="number" matInput formControlName="audit_fee">
                                        <mat-error>Required Field</mat-error>
                                    </mat-form-field>

                                </div>
                            </div> -->
                            <div class="mb-3">
                                <button type="button" class="btn btn-success btn-icon-text float-end mt-4 "
                                    (click)="submit()" [disabled]="!Form.valid">
                                    <i class="feather icon-send btn-icon-prepend"></i>
                                    Update
                                </button>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="mt-3">
                        <button class="btn btn-primary" mat-icon-button aria-label="Example icon-button with a menu">
                            {{Form.value.status}}
                        </button>
                        <button class="btn btn-success status-btn ms-2" mat-icon-button
                            aria-label="Example icon-button with a menu" (click)="navigate()">
                            <i class="feather icon-chevron-left"></i> Back to History

                        </button>
                    </div>
                    <div class="mt-3">

                        <mat-form-field appearance="outline" color="primary" id="dashboard">
                            <mat-label>Audit Date *</mat-label>
                            <mat-date-range-input [formGroup]="auditDateRange" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start date"
                                    (dateChange)="startDateChange($event)">
                                <input matEndDate formControlName="end" placeholder="End date"
                                    (dateChange)="endDateChange($event)">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            <mat-error *ngIf="auditDateRange.controls.start.hasError('matStartDateInvalid')">Invalid
                                start date</mat-error>
                            <mat-error *ngIf="auditDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end
                                date
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div class="mt-3">
                        <mat-form-field fxFlex appearance="outline" color="primary">
                            <mat-label>Approver</mat-label>
                            <mat-select formControlName="approver">
                                <mat-option *ngFor="let approver of approversList" [value]="approver.id">
                                    <!-- <img style="vertical-align:middle; margin-right: 4px;"
                                        src={{approver.attributes?.image?.data?.attributes?.image}} height="30" /> -->
                                    <span>{{ approver.attributes.first_name }}
                                        {{approver.attributes.last_name}}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Date for Approval</mat-label>
                            <input matInput [matDatepicker]="dpApproval" placeholder="Choose a date"
                                [formControl]="approvalDate" (dateChange)="approval_date($event)">
                            <mat-datepicker-toggle matSuffix [for]="dpApproval"></mat-datepicker-toggle>
                            <mat-datepicker #dpApproval></mat-datepicker>
                            <mat-error>Required Field</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-3">
                        <label class="tx-11 fw-bolder mb-0 text-uppercase">Announcement *:</label><br>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="announcement"
                            #group="matButtonToggleGroup" class="announce">
                            <mat-button-toggle value="Announced" class="announceOption">
                                Announced
                            </mat-button-toggle>
                            <mat-button-toggle value="Semi-announced" class="announceOption">
                                Semi-announced
                            </mat-button-toggle>
                            <mat-button-toggle value="Un-announced" class="announceOption">
                                Un-announced
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>